n8n/workflows/Appointment Reminder.json
{
  "updatedAt": "2026-05-01T01:41:22.473Z",
  "createdAt": "2026-04-24T15:19:16.360Z",
  "id": "vxyIWfxPE1f14Qbm",
  "name": "Appointment Reminder",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "775da5a9-7db5-401e-b2f3-54be5d6dea8a",
      "name": "When clicking 'Execute workflow'",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "egachuu@gmail.com",
          "mode": "list",
          "cachedResultName": "egachuu@gmail.com"
        },
        "options": {
          "query": "SERVICE"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "aafc2a87-059c-490b-a94a-c8a35363a46d",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ovD0E0nnv3JaOKm1",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst description = item.description || '';\n\nconst service = description.match(/Service:\\s*(.*?)(?=Client Name:|Phone:|Vehicle:|$)/is)?.[1];\nconst name = description.match(/Client Name:\\s*(.*?)(?=Phone:|Vehicle:|$)/is)?.[1];\nconst phone = description.match(/Phone:\\s*(.*?)(?=Vehicle:|$)/is)?.[1];\nconst vehicle = description.match(/Vehicle:\\s*(.*)/is)?.[1];\n\nreturn {\n  customerName: (name || 'Valued Customer').trim(),\n  phoneNumber: phone ? phone.replace(/\\D/g, '') : null,\n  serviceType: (service || 'Service').trim(),\n  vehicleInfo: (vehicle || 'your vehicle').trim()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "5012c951-8075-411f-afe1-83aa2dd23300",
      "name": "Extract Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eb272be8-e6d8-49b3-9ba3-dabea6d5ce08",
              "leftValue": "={{ $json.phoneNumber }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "bfc3adde-4a92-4fc3-8ab8-d55c15042439",
      "name": "If"
    },
    {
      "parameters": {
        "from": "+15074317540",
        "to": "=+1{{ $json.phoneNumber }}",
        "message": "=Hi {{ $json.customerName }}, this is a reminder for your {{ $json.serviceType }} on your {{ $json.vehicleInfo }} tomorrow!",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        848,
        16
      ],
      "id": "f4c243c5-1e0c-4696-9676-8ef6ffa0095b",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "n9LXeaDPT2RcuOmv",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "appointments",
          "mode": "list",
          "cachedResultName": "appointments"
        },
        "where": {
          "values": [
            {
              "column": "scheduled_at",
              "condition": "<=",
              "value": "={{ $today.plus(2, days) }}"
            },
            {
              "column": "reminder_sent_at",
              "condition": "IS NULL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        368
      ],
      "id": "526948dd-3193-49ff-b62f-e3f808f2e654",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "2DDeKGMIP9Ijbd9R",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0d58f926-1173-46e6-9153-ad918b502364",
  "activeVersionId": null,
  "versionCounter": 96,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2026-05-01T01:40:57.250Z",
      "createdAt": "2026-05-01T01:40:45.529Z",
      "id": "VREJzJaoNhKkCR6J",
      "name": "general"
    }
  ]
}