n8n/workflows/B&B Lead Generator.json
{
  "updatedAt": "2026-05-08T16:51:49.046Z",
  "createdAt": "2026-05-05T03:04:13.071Z",
  "id": "2U1iBVRygXph5ITw",
  "name": "B&B Lead Generator",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1920,
        448
      ],
      "id": "dbdbbc95-1ef4-49c6-b08b-ac94074db086",
      "name": "Every Monday 6am CT"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.qualifiedLeads = [];\nstaticData.apolloReturned = 0;\nstaticData.afterDedup = 0;\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        448
      ],
      "id": "b4b1485b-eece-4572-9fe3-e55b2f161e3a",
      "name": "Initialize Accumulator"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/mixed_people/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"person_locations\": [\"Faribault, Minnesota\"],\n  \"person_location_radius_miles\": 250,\n  \"organization_industry_tag_ids\": [\"Machinery Manufacturing\", \"Fabricated Metal Products\", \"Industrial Machinery\"],\n  \"person_titles\": [\"Sourcing Manager\", \"Procurement Manager\", \"Operations Manager\", \"Plant Manager\"],\n  \"contact_email_status\": [\"verified\"],\n  \"per_page\": 15\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1472,
        448
      ],
      "id": "d7465284-d965-420d-8fce-05af715aca57",
      "name": "Search Apollo",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1248,
        448
      ],
      "id": "9ffe9ca1-fc17-44b8-ae24-19f8f5e869b7",
      "name": "Read Exclusion Sheet",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const apolloData = $('Search Apollo').first().json;\nconst contacts = apolloData.people || [];\n\nconst exclusionRows = $input.all().map(item => item.json);\n\nconst excludedNames = exclusionRows\n  .map(r => (r.company_name || '').toLowerCase().trim())\n  .filter(Boolean);\nconst excludedDomains = exclusionRows\n  .map(r => (r.domain || '').toLowerCase().replace(/^www\\./, '').trim())\n  .filter(Boolean);\n\nfunction isExcluded(contact) {\n  const name = (contact.organization_name || '').toLowerCase();\n  const rawUrl = (contact.organization_website_url || '').toLowerCase();\n  const domain = rawUrl\n    .replace(/^https?:\\/\\//, '')\n    .replace(/^www\\./, '')\n    .split('/')[0];\n  return (\n    excludedNames.some(n => n && name.includes(n)) ||\n    excludedDomains.some(d => d && domain.includes(d))\n  );\n}\n\n// TODO: replace Google Sheet check with JobBOSS API lookup when integration is ready\n\nconst filtered = contacts.filter(c => !isExcluded(c));\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData.apolloReturned = contacts.length;\nstaticData.afterDedup = filtered.length;\n\nreturn filtered.map(c => ({\n  json: {\n    first_name: c.first_name || '',\n    last_name: c.last_name || '',\n    full_name: `${c.first_name || ''} ${c.last_name || ''}`.trim(),\n    title: c.title || '',\n    email: c.email || '',\n    company: c.organization_name || '',\n    website: c.organization_website_url || '',\n    city: c.city || '',\n    state: c.state || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        448
      ],
      "id": "c402c160-9ec9-4aab-a639-c7d76447dd7b",
      "name": "Filter and Dedup",
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1248,
        224
      ],
      "id": "e6a9cd02-2a40-4621-b8c2-80ad29b403f8",
      "name": "Split by Lead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 150,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"You are a lead qualifier for B&B Manufacturing and Assembly, a custom metal fabrication shop in Faribault, MN. They specialize in laser cutting, CNC machining, MIG/TIG/robotic welding, press brake forming, and powder coating for OEM manufacturers in agriculture, aerospace, food processing, and industrial markets. They hold ISO 9001:2015 certification.\\n\\nScore this lead from 1\\u201310 based on fit:\\n- 8\\u201310: Strong fit \\u2014 OEM manufacturer in a served industry, decision-maker title, regional proximity\\n- 5\\u20137: Possible fit \\u2014 adjacent industry or unclear role\\n- 1\\u20134: Poor fit \\u2014 consumer, retail, or irrelevant industry\\n\\nLead:\\nName: \" + $json.full_name + \"\\nTitle: \" + $json.title + \"\\nCompany: \" + $json.company + \"\\nLocation: \" + $json.city + \", \" + $json.state + \"\\n\\nReturn ONLY valid JSON: {\\\"score\\\": 8, \\\"reason\\\": \\\"one sentence\\\"}\") }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1024,
        -48
      ],
      "id": "d9026849-50e8-4af0-871d-fa6fd92d23b2",
      "name": "Score with Claude",
      "credentials": {
        "anthropicApi": {
          "id": "gXqu8TiqvDY4mUPZ",
          "name": "Anthropic account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nlet score = 0;\nlet reason = 'Claude returned malformed JSON — skipping this lead';\ntry {\n  const text = claudeResponse.content[0].text.trim();\n  const parsed = JSON.parse(text);\n  score = parsed.score;\n  reason = parsed.reason;\n} catch (e) {\n  // score stays 0, IF node routes to false branch and silently drops this lead\n}\n\nconst lead = $('Split by Lead').item.json;\n\nreturn [{\n  json: {\n    first_name: lead.first_name,\n    last_name: lead.last_name,\n    full_name: lead.full_name,\n    title: lead.title,\n    email: lead.email,\n    company: lead.company,\n    website: lead.website,\n    city: lead.city,\n    state: lead.state,\n    score,\n    reason\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -48
      ],
      "id": "d747b5c6-93fd-41a1-8e41-54bb51e1bd7b",
      "name": "Parse Score"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "score-check-001",
              "leftValue": "={{ $json.score }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -576,
        -48
      ],
      "id": "5d079d3c-11fe-453f-a372-4991ac5b9f33",
      "name": "Score 8 or Above?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 300,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Write a cold outreach email from B&B Manufacturing and Assembly (Faribault, MN) to \" + $json.first_name + \" \" + $json.last_name + \", \" + $json.title + \" at \" + $json.company + \".\\n\\nB&B is a 55,000 sq ft custom metal fabrication shop: laser cutting, CNC machining, MIG/TIG/robotic welding, press brake forming, powder coating. ISO 9001:2015 certified. Serves OEMs in ag, aerospace, food processing, and industrial markets.\\n\\nRequirements:\\n- Address them by first name\\n- Reference their industry or likely pain (faster turnaround, reliable fabrication partner)\\n- One concrete B&B capability that fits their world\\n- CTA: 15-minute discovery call\\n- Sign off: \\\"B&B Manufacturing and Assembly\\\"\\n- Under 100 words \\u2014 this is cold outreach, not a pitch deck\\n- Warm and direct, not corporate\\n\\nReturn ONLY the email body. No subject line. No formatting markers.\") }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -352,
        -48
      ],
      "id": "6fa984cd-220f-407c-b725-4100c4faf5c8",
      "name": "Draft Outreach",
      "credentials": {
        "anthropicApi": {
          "id": "gXqu8TiqvDY4mUPZ",
          "name": "Anthropic account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nlet draft = '[Draft unavailable — Claude API error]';\ntry {\n  draft = claudeResponse.content[0].text.trim();\n} catch (e) {\n  // draft stays as fallback string\n}\n\nconst lead = $('Parse Score').item.json;\n\nreturn [{\n  json: {\n    first_name: lead.first_name,\n    last_name: lead.last_name,\n    full_name: lead.full_name,\n    title: lead.title,\n    email: lead.email,\n    company: lead.company,\n    city: lead.city,\n    state: lead.state,\n    score: lead.score,\n    reason: lead.reason,\n    draft\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -48
      ],
      "id": "9ae2adf9-ef64-46c1-bda9-5bc04ab279de",
      "name": "Parse Draft",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!Array.isArray(staticData.qualifiedLeads)) {\n  staticData.qualifiedLeads = [];\n}\nstaticData.qualifiedLeads.push({\n  first_name: lead.first_name,\n  last_name: lead.last_name,\n  full_name: lead.full_name,\n  title: lead.title,\n  email: lead.email,\n  company: lead.company,\n  city: lead.city,\n  state: lead.state,\n  score: lead.score,\n  reason: lead.reason,\n  draft: lead.draft\n});\n\nreturn [{ json: lead }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        128
      ],
      "id": "f77ba8f3-f2d9-4348-996a-907c2cb6fc24",
      "name": "Accumulate Lead"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst leads = staticData.qualifiedLeads || [];\nconst runDate = new Date().toLocaleDateString('en-US', {\n  timeZone: 'America/Chicago',\n  month: 'long',\n  day: 'numeric',\n  year: 'numeric'\n});\n\nlet subject, body;\n\nif (leads.length === 0) {\n  subject = `B&B Lead Prospects \\u2014 Week of ${runDate} (0 qualified)`;\n  body = 'The workflow ran but no leads scored 8 or above this week.';\n} else {\n  subject = `B&B Lead Prospects \\u2014 Week of ${runDate} (${leads.length} qualified)`;\n  const divider = '\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500';\n  const sections = leads.map((lead, i) =>\n    `${divider}\\n` +\n    `Lead ${i + 1} of ${leads.length}\\n` +\n    `${lead.full_name} \\u2014 ${lead.title} at ${lead.company}, ${lead.city}, ${lead.state}\\n` +\n    `Score: ${lead.score}/10 \\u2014 ${lead.reason}\\n` +\n    `Email: ${lead.email}\\n\\n` +\n    `Drafted outreach:\\n${lead.draft}\\n` +\n    divider\n  ).join('\\n\\n');\n  body = `${leads.length} lead${leads.length === 1 ? '' : 's'} qualified this week. Review each draft below and send from your own email.\\n\\n${sections}`;\n}\n\nreturn [{ json: { subject, body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        144
      ],
      "id": "eb60e1d7-0035-43d1-974e-eff06bfc3045",
      "name": "Build Summary Email"
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "hello@norrai.co",
        "fromName": "Norr AI",
        "toEmail": "hunter.dienst@met-con.com",
        "subject": "={{ $json.subject }}",
        "contentValue": "={{ $json.body }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        -800,
        144
      ],
      "id": "ed2a6dbc-6397-437b-bc65-698d437f3ed0",
      "name": "Send Review Email",
      "credentials": {
        "sendGridApi": {
          "id": "A5ypmjiRLAUMUm9O",
          "name": "SendGrid account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst leads = staticData.qualifiedLeads || [];\n\nconst queries = [];\n\nif (leads.length > 0) {\n  const values = leads.map(l => {\n    const name = (l.full_name || '').replace(/'/g, \"''\");\n    const email = (l.email || '').replace(/'/g, \"''\");\n    const draft = (l.draft || '').replace(/'/g, \"''\");\n    const meta = JSON.stringify({\n      company: l.company || '',\n      title: l.title || '',\n      location: `${l.city || ''}, ${l.state || ''}`,\n      apollo_score: l.score,\n      score_reason: l.reason || '',\n      draft_sent: true\n    }).replace(/'/g, \"''\");\n    return `('86a01b94-ddab-4594-8afc-8212fb18fdd0', '${name}', '${email}', NULL, 'bnb_lead_generator', '${draft}', '${meta}'::jsonb, NOW())`;\n  });\n  queries.push(\n    `INSERT INTO leads (client_id, lead_name, email, phone, source, lead_message, metadata, created_at) VALUES ${values.join(', ')}`\n  );\n}\n\nconst eventsMeta = JSON.stringify({\n  apollo_returned: staticData.apolloReturned || 0,\n  after_dedup: staticData.afterDedup || 0,\n  qualified: leads.length,\n  run_date: new Date().toISOString().split('T')[0]\n}).replace(/'/g, \"''\");\n\nqueries.push(\n  `INSERT INTO workflow_events (client_id, workflow_name, event_type, payload) VALUES ('86a01b94-ddab-4594-8afc-8212fb18fdd0', 'bnb_lead_generator', 'completed', '${eventsMeta}'::jsonb)`\n);\n\nreturn [{ json: { query: queries.join('; ') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        144
      ],
      "id": "7289fa7d-ce86-41bb-b8af-48545f484dd3",
      "name": "Build Neon Insert"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -352,
        144
      ],
      "id": "ce656a2b-a327-4e4c-8b7f-4e9e1f870c3e",
      "name": "Log All to Neon",
      "credentials": {
        "postgres": {
          "id": "2DDeKGMIP9Ijbd9R",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yHLDx3QWGfUsm4VTp5rORPVt5L1Zpwz62ZjCsxNIcVE",
          "mode": "list",
          "cachedResultName": "bnb_customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yHLDx3QWGfUsm4VTp5rORPVt5L1Zpwz62ZjCsxNIcVE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yHLDx3QWGfUsm4VTp5rORPVt5L1Zpwz62ZjCsxNIcVE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1696,
        224
      ],
      "id": "799bfc79-82e3-4071-aea2-5d0723065f7c",
      "name": "Read Exclusion Sheet1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4rGaoxctip8ec4l",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Get Apollo contacts (from Search Apollo, two nodes back)\nconst apolloData = $('Search Apollo1').first().json;\n//const contacts = apolloData.people || [];\nconst contacts = $('Search Apollo1').all().map(item => item.json);\n// Get exclusion rows from Google Sheets (direct input to this node)\nconst exclusionRows = $input.all().map(item => item.json);\n\n// Build exclusion sets (lowercase for case-insensitive matching)\nconst excludedNames = exclusionRows\n  .map(r => (r.company_name || '').toLowerCase().trim())\n  .filter(Boolean);\nconst excludedDomains = exclusionRows\n  .map(r => (r.domain || '').toLowerCase().replace(/^www\\./, '').trim())\n  .filter(Boolean);\n\nfunction isExcluded(contact) {\n  const name = (contact.organization_name || '').toLowerCase();\n  const rawUrl = (contact.organization_website_url || '').toLowerCase();\n  const domain = rawUrl\n    .replace(/^https?:\\/\\//, '')\n    .replace(/^www\\./, '')\n    .split('/')[0];\n  return (\n    excludedNames.some(n => n && name.includes(n)) ||\n    excludedDomains.some(d => d && domain.includes(d))\n  );\n}\n\n// TODO: replace Google Sheet check with JobBOSS API lookup when integration is ready\n\nreturn contacts.filter(c => !isExcluded(c)).map(c => ({\n  json: {\n    first_name: c.first_name || '',\n    last_name: c.last_name || '',\n    full_name: `${c.first_name || ''} ${c.last_name || ''}`.trim(),\n    title: c.title || '',\n    email: c.email || '',\n    company: c.organization_name || '',\n    website: c.organization_website_url || '',\n    city: c.city || '',\n    state: c.state || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        224
      ],
      "id": "b00200ba-04d1-4daa-b767-dba8d3857a39",
      "name": "Filter and Dedup1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      first_name: \"Mark\",\n      last_name: \"Hendricks\",\n      title: \"Procurement Manager\",\n      email: \"m.hendricks@prairiemetalworks.com\",\n      organization_name: \"Prairie Metal Works\",\n      organization_website_url: \"https://prairiemetalworks.com\",\n      city: \"Owatonna\",\n      state: \"MN\"\n    }\n  },\n  {\n    json: {\n      first_name: \"Lisa\",\n      last_name: \"Tauer\",\n      title: \"Operations Manager\",\n      email: \"ltauer@agritechfab.com\",\n      organization_name: \"AgriTech Fabrication\",\n      organization_website_url: \"https://agritechfab.com\",\n      city: \"Mankato\",\n      state: \"MN\"\n    }\n  },\n  {\n    json: {\n      first_name: \"Dave\",\n      last_name: \"Schroeder\",\n      title: \"Plant Manager\",\n      email: \"d.schroeder@northernmfg.com\",\n      organization_name: \"Northern Manufacturing\",\n      organization_website_url: \"https://northernmfg.com\",\n      city: \"Rochester\",\n      state: \"MN\"\n    }\n  },\n  {\n    json: {\n      first_name: \"Karen\",\n      last_name: \"Olson\",\n      title: \"Sourcing Manager\",\n      email: \"kolson@midwestoem.com\",\n      organization_name: \"Midwest OEM Solutions\",\n      organization_website_url: \"https://midwestoem.com\",\n      city: \"Faribault\",\n      state: \"MN\"\n    }\n  },\n  {\n    json: {\n      first_name: \"Tom\",\n      last_name: \"Braun\",\n      title: \"Procurement Manager\",\n      email: \"tbraun@steelfabinc.com\",\n      organization_name: \"Steel Fab Inc\",\n      organization_website_url: \"https://steelfabinc.com\",\n      city: \"Albert Lea\",\n      state: \"MN\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        224
      ],
      "id": "e6b466e8-4d25-46c3-8d01-26868c6ea4a5",
      "name": "Search Apollo1"
    }
  ],
  "connections": {
    "Every Monday 6am CT": {
      "main": [
        [
          {
            "node": "Initialize Accumulator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Accumulator": {
      "main": [
        [
          {
            "node": "Search Apollo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Apollo": {
      "main": [
        [
          {
            "node": "Read Exclusion Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Exclusion Sheet": {
      "main": [
        [
          {
            "node": "Filter and Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter and Dedup": {
      "main": [
        []
      ]
    },
    "Split by Lead": {
      "main": [
        [
          {
            "node": "Build Summary Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Score with Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score with Claude": {
      "main": [
        [
          {
            "node": "Parse Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Score": {
      "main": [
        [
          {
            "node": "Score 8 or Above?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score 8 or Above?": {
      "main": [
        [
          {
            "node": "Draft Outreach",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split by Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Outreach": {
      "main": [
        [
          {
            "node": "Parse Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Draft": {
      "main": [
        [
          {
            "node": "Accumulate Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulate Lead": {
      "main": [
        [
          {
            "node": "Split by Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary Email": {
      "main": [
        [
          {
            "node": "Send Review Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Review Email": {
      "main": [
        [
          {
            "node": "Build Neon Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Neon Insert": {
      "main": [
        [
          {
            "node": "Log All to Neon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Exclusion Sheet1": {
      "main": [
        [
          {
            "node": "Filter and Dedup1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Apollo1": {
      "main": [
        [
          {
            "node": "Read Exclusion Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter and Dedup1": {
      "main": [
        [
          {
            "node": "Split by Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "58fc604b-3529-4ec5-a6ed-dd51f41958f0",
  "activeVersionId": null,
  "versionCounter": 15,
  "triggerCount": 0,
  "tags": [
    {
      "id": "a0VJrMAK4rSgN6Xi",
      "name": "metcon"
    }
  ]
}