n8n/workflows/BoldTrail CSV Import.json
{
  "name": "BoldTrail CSV Import",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "filters": { "readStatus": "unread" },
        "downloadAttachments": true,
        "dataPropertyAttachmentsPrefixName": "attachment_",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "id": "bc100001-0001-4000-8000-bc1000000001",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_IMPORTS_CREDENTIAL_ID",
          "name": "Gmail account (imports@norrai.co)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\nconst attachments = [];\n\n// n8n Gmail trigger stores attachments as attachment_0, attachment_1, etc.\nfor (let i = 0; ; i++) {\n  const key = `attachment_${i}`;\n  if (!email[key]) break;\n  attachments.push(email[key]);\n}\n\nconst csvAttachment = attachments.find(a =>\n  (a.name || '').toLowerCase().endsWith('.csv') ||\n  (a.mimeType || '').includes('csv')\n);\n\nif (!csvAttachment) {\n  throw new Error('No CSV attachment in email from: ' + (email.from || 'unknown'));\n}\n\nconst csvContent = Buffer.from(csvAttachment.data, 'base64')\n  .toString('utf-8')\n  .replace(/^\\uFEFF/, '')        // strip BOM\n  .replace(/\\r\\n/g, '\\n')\n  .replace(/\\r/g, '\\n');\n\nconst lines = csvContent.split('\\n').filter(l => l.trim());\nif (lines.length < 2) throw new Error('CSV has no data rows');\n\nfunction parseCSVLine(line) {\n  const result = [];\n  let current = '';\n  let inQuotes = false;\n  for (let i = 0; i < line.length; i++) {\n    const ch = line[i];\n    if (ch === '\"') {\n      if (inQuotes && line[i + 1] === '\"') { current += '\"'; i++; }\n      else inQuotes = !inQuotes;\n    } else if (ch === ',' && !inQuotes) {\n      result.push(current.trim()); current = '';\n    } else {\n      current += ch;\n    }\n  }\n  result.push(current.trim());\n  return result;\n}\n\nconst headers = parseCSVLine(lines[0]);\nconst rows = [];\nfor (let i = 1; i < lines.length; i++) {\n  if (!lines[i].trim()) continue;\n  const values = parseCSVLine(lines[i]);\n  const row = {};\n  headers.forEach((h, idx) => { row[h] = values[idx] || ''; });\n  rows.push(row);\n}\n\nreturn [{ json: { rows, row_count: rows.length, filename: csvAttachment.name } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "bc100001-0002-4000-8000-bc1000000002",
      "name": "Parse CSV Rows"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM clients WHERE id = 'WEICHERT_CLIENT_ID'",
        "continueOnFail": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "id": "bc100001-0003-4000-8000-bc1000000003",
      "name": "Lookup Client",
      "continueOnFail": true,
      "credentials": {
        "postgres": { "id": "NEON_CREDENTIAL_ID", "name": "Neon Postgres" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_events (client_id, workflow_name, event_type, payload)\nVALUES (\n  '{{ $('Lookup Client').first().json.id }}',\n  'boldtrail_csv_import',\n  'triggered',\n  ('{\"row_count\":' || {{ $('Parse CSV Rows').first().json.row_count }} || ',\"filename\":\"{{ $('Parse CSV Rows').first().json.filename }}\"}')::jsonb\n)",
        "continueOnFail": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "id": "bc100001-0004-4000-8000-bc1000000004",
      "name": "Log Triggered",
      "continueOnFail": true,
      "credentials": {
        "postgres": { "id": "NEON_CREDENTIAL_ID", "name": "Neon Postgres" }
      }
    },
    {
      "parameters": {
        "jsCode": "const clientId = $('Lookup Client').first().json.id;\nconst rows = $('Parse CSV Rows').first().json.rows;\n\nconst MAPPED_COLS = new Set([\n  'Contact Name','Full Name','Name',\n  'Email','Email Address',\n  'Phone','Phone Number','Mobile','Cell',\n  'Status','Assigned To','Agent','Agent Email',\n  'Source','Lead Source',\n  'Address','Property Address',\n  'Created Date','Date Added'\n]);\n\nreturn rows\n  .map(row => {\n    const rawName = (row['Contact Name'] || row['Full Name'] || row['Name'] || '').trim();\n    const emailRaw = (row['Email'] || row['Email Address'] || '').toLowerCase().trim();\n    const rawPhone = (row['Phone'] || row['Phone Number'] || row['Mobile'] || row['Cell'] || '').replace(/[^\\d]/g, '');\n    const phone = rawPhone.length === 11 && rawPhone.startsWith('1') ? rawPhone.slice(1) : rawPhone;\n\n    if (!emailRaw && !phone) return null;\n\n    const metadata = {\n      boldtrail_status:     row['Status'] || '',\n      agent_email:          (row['Assigned To'] || row['Agent'] || row['Agent Email'] || '').trim(),\n      lead_source:          (row['Source'] || row['Lead Source'] || '').trim(),\n      property_address:     (row['Address'] || row['Property Address'] || '').trim(),\n      boldtrail_created_at: (row['Created Date'] || row['Date Added'] || '').trim(),\n    };\n    Object.keys(row).forEach(k => {\n      if (!MAPPED_COLS.has(k) && row[k]) metadata['raw_' + k] = row[k];\n    });\n\n    // Escape single quotes for safe SQL interpolation\n    const safeName    = rawName.replace(/'/g, \"''\");\n    const safeEmail   = emailRaw.replace(/'/g, \"''\");\n    const safePhone   = phone.replace(/'/g, \"''\");\n    const safeMeta    = JSON.stringify(metadata).replace(/'/g, \"''\");\n    const emailVal    = safeEmail ? `'${safeEmail}'` : 'NULL';\n    const phoneVal    = safePhone ? `'${safePhone}'` : 'NULL';\n\n    const upsertQuery = `INSERT INTO leads (client_id, lead_name, email, phone, source, metadata)\\nVALUES ('${clientId}', '${safeName}', ${emailVal}, ${phoneVal}, 'boldtrail', '${safeMeta}'::jsonb)\\nON CONFLICT (email, phone) WHERE email IS NOT NULL AND phone IS NOT NULL\\nDO UPDATE SET\\n  lead_name  = EXCLUDED.lead_name,\\n  metadata   = leads.metadata || EXCLUDED.metadata,\\n  updated_at = NOW()`;\n\n    return { json: { upsert_query: upsertQuery, client_id: clientId } };\n  })\n  .filter(Boolean);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "id": "bc100001-0005-4000-8000-bc1000000005",
      "name": "Split Into Rows"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.upsert_query }}",
        "continueOnFail": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 300],
      "id": "bc100001-0006-4000-8000-bc1000000006",
      "name": "Upsert Lead",
      "continueOnFail": true,
      "credentials": {
        "postgres": { "id": "NEON_CREDENTIAL_ID", "name": "Neon Postgres" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_events (client_id, workflow_name, event_type, payload)\nVALUES (\n  '{{ $json.client_id }}',\n  'boldtrail_csv_import',\n  'completed',\n  '{\"execution_id\": \"{{ $execution.id }}\"}'::jsonb\n)",
        "continueOnFail": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 300],
      "id": "bc100001-0007-4000-8000-bc1000000007",
      "name": "Log Completed",
      "continueOnFail": true,
      "credentials": {
        "postgres": { "id": "NEON_CREDENTIAL_ID", "name": "Neon Postgres" }
      }
    }
  ],
  "connections": {
    "Gmail Trigger":   { "main": [[{ "node": "Parse CSV Rows",  "type": "main", "index": 0 }]] },
    "Parse CSV Rows":  { "main": [[{ "node": "Lookup Client",   "type": "main", "index": 0 }]] },
    "Lookup Client":   { "main": [[{ "node": "Log Triggered",   "type": "main", "index": 0 }]] },
    "Log Triggered":   { "main": [[{ "node": "Split Into Rows", "type": "main", "index": 0 }]] },
    "Split Into Rows": { "main": [[{ "node": "Upsert Lead",     "type": "main", "index": 0 }]] },
    "Upsert Lead":     { "main": [[{ "node": "Log Completed",   "type": "main", "index": 0 }]] }
  },
  "settings": {
    "errorWorkflow": "Norr AI Workflow Error Logger",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true
  },
  "tags": [],
  "triggerCount": 1,
  "versionId": "boldtrail-csv-import-v1"
}
