n8n/workflows/Email Triage — Action eganbonde.json
{
  "name": "Email Triage — Action eganbonde",
  "nodes": [
    {
      "id": "aw-0071-4000-8000-000000000000",
      "name": "When Called by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "aw-0072-4000-8000-000000000000",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "act-0",
                    "leftValue": "={{ $json.proposed_action }}",
                    "rightValue": "mark_read_archive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "act-1",
                    "leftValue": "={{ $json.proposed_action }}",
                    "rightValue": "mark_read",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "act-2",
                    "leftValue": "={{ $json.proposed_action }}",
                    "rightValue": "trash",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "act-3",
                    "leftValue": "={{ $json.proposed_action }}",
                    "rightValue": "mark_important",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "fallbackOutput": 3,
        "options": {}
      }
    },
    {
      "id": "aw-0073-4000-8000-000000000000",
      "name": "Mark Read (archive path)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        80
      ],
      "parameters": {
        "resource": "message",
        "operation": "markAsRead",
        "messageId": "={{ $json.message_id }}"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail — eganbonde"
        }
      }
    },
    {
      "id": "aw-0074-4000-8000-000000000000",
      "name": "Archive",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        840,
        80
      ],
      "parameters": {
        "resource": "message",
        "operation": "removeLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail — eganbonde"
        }
      }
    },
    {
      "id": "aw-0075-4000-8000-000000000000",
      "name": "Mark Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        260
      ],
      "parameters": {
        "resource": "message",
        "operation": "markAsRead",
        "messageId": "={{ $json.message_id }}"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail — eganbonde"
        }
      }
    },
    {
      "id": "aw-0076-4000-8000-000000000000",
      "name": "Trash",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        440
      ],
      "parameters": {
        "resource": "message",
        "operation": "delete",
        "messageId": "={{ $json.message_id }}"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail — eganbonde"
        }
      }
    },
    {
      "id": "aw-0077-4000-8000-000000000000",
      "name": "Mark Important",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        620
      ],
      "parameters": {
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "IMPORTANT"
        ]
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail — eganbonde"
        }
      }
    }
  ],
  "connections": {
    "When Called by Another Workflow": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Mark Read (archive path)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trash",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Important",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Read (archive path)": {
      "main": [
        [
          {
            "node": "Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Norr AI Workflow Error Logger"
  },
  "staticData": null
}