n8n/workflows/Email Unsubscribe Handler.json
{
  "updatedAt": "2026-06-07T14:10:12.394Z",
  "createdAt": "2026-06-05T01:59:23.143Z",
  "id": "DqTxee5tHT3A04F6",
  "name": "Email Unsubscribe Handler",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "email-unsubscribe", "responseMode": "responseNode", "options": {}},
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-656, 192],
      "id": "02c4f968-e16d-4d04-900d-d66ba9147cbe",
      "name": "Receive Unsubscribe",
      "webhookId": "email-unsubscribe-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst email = (body.email || '').trim().toLowerCase();\nconst emailRe = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRe.test(email)) {\n  return [{ json: { valid: false, email: '', email_sql: '', update_query: '' } }];\n}\nconst email_sql = email.replace(/'/g, \"''\");\nreturn [{ json: {\n  valid: true,\n  email,\n  email_sql,\n  update_query: `UPDATE leads SET email_opt_out = TRUE, opted_out_at = NOW() WHERE LOWER(email) = '${email_sql}' AND email_opt_out = FALSE`\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-432, 192],
      "id": "fe7cebbc-fdd6-45d4-a336-4d6526d44200",
      "name": "Validate + Build Query",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "loose"},
          "conditions": [{"id": "valid-email-001", "leftValue": "={{ $json.valid }}", "operator": {"type": "boolean", "operation": "true", "singleValue": true}}],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-208, 192],
      "id": "9cac8dbc-b8c7-4f9f-a3b0-cb85b71b772a",
      "name": "Email Valid?"
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={ \"status\": \"error\", \"message\": \"invalid email\" }", "options": {"responseCode": 400}},
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [16, 384],
      "id": "3a203943-4fde-41f9-8f72-51106ef83315",
      "name": "Respond Invalid"
    },
    {
      "parameters": {"operation": "executeQuery", "query": "{{ $json.update_query }}", "options": {}},
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [16, 192],
      "id": "2dd1e5f9-e6b0-4d35-8893-7ac140ac742d",
      "name": "Set Email Opt-Out",
      "credentials": {"postgres": {"id": "2DDeKGMIP9Ijbd9R", "name": "Postgres account"}},
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_events (client_id, workflow_name, event_type, payload)\nVALUES (\n  'e2f9934c-4d28-4bb4-ac90-4284c1123517',\n  'email_opt_out_handler',\n  'triggered',\n  json_build_object('execution_id', '{{ $execution.id }}', 'email', '{{ $('Validate + Build Query').first().json.email_sql }}')::jsonb\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [16, 0],
      "id": "b004bd11-6832-40ad-8149-0082cca8787c",
      "name": "Log Triggered",
      "credentials": {"postgres": {"id": "2DDeKGMIP9Ijbd9R", "name": "Postgres account"}},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={ \"status\": \"ok\" }", "options": {"responseCode": 200}},
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [240, 192],
      "id": "49343c12-7417-432e-860e-02d7c0304da2",
      "name": "Respond OK"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_events (client_id, workflow_name, event_type, payload)\nVALUES (\n  'e2f9934c-4d28-4bb4-ac90-4284c1123517',\n  'email_opt_out_handler',\n  'completed',\n  json_build_object('execution_id', '{{ $execution.id }}')::jsonb\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [464, 192],
      "id": "7ecf0841-a0c9-4b42-bdd8-274bce87f98c",
      "name": "Log Completed",
      "credentials": {"postgres": {"id": "2DDeKGMIP9Ijbd9R", "name": "Postgres account"}},
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Receive Unsubscribe": {"main": [[{"node": "Validate + Build Query", "type": "main", "index": 0}]]},
    "Validate + Build Query": {"main": [[{"node": "Email Valid?", "type": "main", "index": 0}]]},
    "Email Valid?": {"main": [[{"node": "Set Email Opt-Out", "type": "main", "index": 0}, {"node": "Log Triggered", "type": "main", "index": 0}], [{"node": "Respond Invalid", "type": "main", "index": 0}]]},
    "Set Email Opt-Out": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]},
    "Respond OK": {"main": [[{"node": "Log Completed", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Al6gagYmiq1feOWq",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {"templateCredsSetupCompleted": true},
  "pinData": {},
  "versionId": "44a32172-7524-45c2-8db3-10bfce71edcd",
  "activeVersionId": "44a32172-7524-45c2-8db3-10bfce71edcd",
  "versionCounter": 16,
  "triggerCount": 1,
  "tags": [{"id": "VREJzJaoNhKkCR6J", "name": "general"}]
}