n8n/workflows/Email Triage Sweep.json
{
  "name": "Email Triage Sweep",
  "nodes": [
    {
      "id": "sw-0085-4000-8000-000000000000",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "sw-0086-4000-8000-000000000000",
      "name": "Lookup Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM clients WHERE id = 'e2f9934c-4d28-4bb4-ac90-4284c1123517'",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "NEON_CREDENTIAL_ID",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "id": "sw-0087-4000-8000-000000000000",
      "name": "Log Triggered",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        640,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_events (client_id, workflow_name, event_type, payload)\nVALUES ('e2f9934c-4d28-4bb4-ac90-4284c1123517', 'email_triage_sweep', 'triggered', '{\"execution_id\": \"{{ $execution.id }}\"}'::jsonb)",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "NEON_CREDENTIAL_ID",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "id": "sw-0088-4000-8000-000000000000",
      "name": "Process egachuu",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        840,
        300
      ],
      "parameters": {
        "workflowId": {
          "mode": "name",
          "value": "Email Triage — Inbox egachuu"
        },
        "waitForSubWorkflow": true,
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "inbox": "egachuu@gmail.com",
            "label": "personal"
          }
        }
      }
    },
    {
      "id": "sw-0089-4000-8000-000000000000",
      "name": "Process eganbonde",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1040,
        300
      ],
      "parameters": {
        "workflowId": {
          "mode": "name",
          "value": "Email Triage — Inbox eganbonde"
        },
        "waitForSubWorkflow": true,
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "inbox": "eganbonde@gmail.com",
            "label": "persona"
          }
        }
      }
    },
    {
      "id": "sw-0090-4000-8000-000000000000",
      "name": "Process hello",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1240,
        300
      ],
      "parameters": {
        "workflowId": {
          "mode": "name",
          "value": "Email Triage — Inbox hello"
        },
        "waitForSubWorkflow": true,
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "inbox": "hello@norrai.co",
            "label": "business"
          }
        }
      }
    },
    {
      "id": "sw-0091-4000-8000-000000000000",
      "name": "Fetch Pending Queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1440,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, inbox, sender, subject, snippet, proposed_action\nFROM email_triage_queue\nWHERE status = 'pending'\nORDER BY created_at ASC",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "NEON_CREDENTIAL_ID",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "id": "sw-0092-4000-8000-000000000000",
      "name": "Any Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1640,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "pending-check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "sw-0093-4000-8000-000000000000",
      "name": "Build Telegram Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        200
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst actionLabel = {\n  mark_read_archive: '🗄 archive',\n  mark_read:         '📖 mark read',\n  trash:             '🗑 trash',\n  mark_important:    '⭐ mark important',\n  queue_for_review:  '❓ uncertain — reply to archive, or skip to leave in inbox'\n};\nconst count = items.length;\nlet msg = `📬 ${count} email${count !== 1 ? 's' : ''} need${count === 1 ? 's' : ''} your review:\\n\\n`;\nitems.forEach((item, i) => {\n  const a = actionLabel[item.json.proposed_action] ?? '❓ uncertain';\n  msg += `${i + 1}. ${item.json.sender} — \"${item.json.subject}\"\\n   → ${a}\\n\\n`;\n});\nmsg += `Reply with numbers to approve proposed actions (e.g. \"1 3\") or \"all\".\\nSkip any by not including its number.`;\nreturn [{ json: { message: msg } }];"
      }
    },
    {
      "id": "sw-0094-4000-8000-000000000000",
      "name": "Send Telegram Digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2040,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "8792529492",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram — Norr AI Email Bot"
        }
      }
    },
    {
      "id": "sw-0095-4000-8000-000000000000",
      "name": "Log Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2240,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_events (client_id, workflow_name, event_type, payload)\nVALUES ('e2f9934c-4d28-4bb4-ac90-4284c1123517', 'email_triage_sweep', 'completed', '{\"execution_id\": \"{{ $execution.id }}\"}'::jsonb)",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "NEON_CREDENTIAL_ID",
          "name": "Neon Postgres"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Lookup Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Client": {
      "main": [
        [
          {
            "node": "Log Triggered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Triggered": {
      "main": [
        [
          {
            "node": "Process egachuu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process egachuu": {
      "main": [
        [
          {
            "node": "Process eganbonde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process eganbonde": {
      "main": [
        [
          {
            "node": "Process hello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process hello": {
      "main": [
        [
          {
            "node": "Fetch Pending Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Queue": {
      "main": [
        [
          {
            "node": "Any Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Pending?": {
      "main": [
        [
          {
            "node": "Build Telegram Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Digest": {
      "main": [
        [
          {
            "node": "Send Telegram Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Digest": {
      "main": [
        [
          {
            "node": "Log Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Norr AI Workflow Error Logger"
  },
  "staticData": null
}