n8n/workflows/Manual Opt-Out Handler.json
{
  "name": "Manual Opt-Out Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manual-optout",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "id": "mo100001-0001-4000-8000-mo1000000001",
      "name": "Receive Opt-Out",
      "webhookId": "manual-optout-webhook-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM clients WHERE token = '{{ $json.body.agent_token }}'",
        "continueOnFail": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "id": "mo100001-0002-4000-8000-mo1000000002",
      "name": "Verify Token",
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "NEON_CREDENTIAL_ID",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "mo-token-check",
              "leftValue": "={{ $input.first().json.id }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300],
      "id": "mo100001-0003-4000-8000-mo1000000003",
      "name": "Token Valid?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads\nSET sms_opt_out = true, opted_out_at = NOW()\nWHERE phone = '{{ $('Receive Opt-Out').first().json.body.phone }}'",
        "continueOnFail": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 200],
      "id": "mo100001-0004-4000-8000-mo1000000004",
      "name": "Set SMS Opt-Out",
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "NEON_CREDENTIAL_ID",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_events (client_id, workflow_name, event_type, payload)\nVALUES (\n  '{{ $('Verify Token').first().json.id }}',\n  'manual_optout_handler',\n  'completed',\n  jsonb_build_object(\n    'phone', '{{ $('Receive Opt-Out').first().json.body.phone }}',\n    'execution_id', '{{ $execution.id }}'\n  )\n)",
        "continueOnFail": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 200],
      "id": "mo100001-0005-4000-8000-mo1000000005",
      "name": "Log Completed",
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "NEON_CREDENTIAL_ID",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 200],
      "id": "mo100001-0006-4000-8000-mo1000000006",
      "name": "Respond OK"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": false, \"error\": \"invalid token\"}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 420],
      "id": "mo100001-0007-4000-8000-mo1000000007",
      "name": "Respond Unauthorized"
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Opt-Out": {
      "main": [
        [
          {
            "node": "Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token": {
      "main": [
        [
          {
            "node": "Token Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Valid?": {
      "main": [
        [
          {
            "node": "Set SMS Opt-Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set SMS Opt-Out": {
      "main": [
        [
          {
            "node": "Log Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Completed": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Norr AI Workflow Error Logger",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true
  },
  "versionId": "manual-optout-handler-v1",
  "meta": {
    "instanceId": "norrai"
  },
  "id": "manual-optout-handler-001",
  "tags": []
}
