n8n/workflows/Mission Control Mutate.json
{
  "name": "Mission Control Mutate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mc-mutate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 144],
      "id": "mc-mutate-node-0001",
      "name": "Webhook",
      "webhookId": "mc-mutate-webhook-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "mc-mutate-token-001",
              "leftValue": "={{ $json.headers['x-norr-token'] }}",
              "rightValue": "8F68D963-7060-4033-BD04-7593E4B203CB",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [432, 144],
      "id": "mc-mutate-node-0002",
      "name": "Token Check"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            { "value2": "update_task" },
            { "value2": "create_task" },
            { "value2": "create_story" }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [640, 144],
      "id": "mc-mutate-node-0003",
      "name": "Route Action"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE tasks SET\n  status      = COALESCE(NULLIF(NULLIF('{{ $json.body.status }}', ''), 'undefined'), status),\n  priority    = COALESCE(NULLIF(NULLIF('{{ $json.body.priority }}', ''), 'undefined'), priority),\n  description = COALESCE(NULLIF(NULLIF('{{ $json.body.description }}', ''), 'undefined'), description),\n  context     = COALESCE(NULLIF(NULLIF('{{ $json.body.context }}', ''), 'undefined'), context),\n  output      = COALESCE(NULLIF(NULLIF('{{ $json.body.output }}', ''), 'undefined'), output),\n  assigned_to = COALESCE(NULLIF(NULLIF('{{ $json.body.assigned_to }}', ''), 'undefined'), assigned_to),\n  updated_at  = now()\nWHERE id = '{{ $json.body.task_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [848, 48],
      "id": "mc-mutate-node-0004",
      "name": "Update Task",
      "credentials": {
        "postgres": {
          "id": "NEON_CREDENTIAL_ID",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tasks (title, category, priority, status, description, context, story_id)\nVALUES (\n  '{{ $json.body.title }}',\n  '{{ $json.body.category }}',\n  COALESCE(NULLIF(NULLIF('{{ $json.body.priority }}', ''), 'undefined'), 'medium'),\n  COALESCE(NULLIF(NULLIF('{{ $json.body.status }}', ''), 'undefined'), 'backlog'),\n  NULLIF(NULLIF('{{ $json.body.description }}', ''), 'undefined'),\n  NULLIF(NULLIF('{{ $json.body.context }}', ''), 'undefined'),\n  NULLIF(NULLIF('{{ $json.body.story_id }}', ''), 'undefined')::uuid\n)\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [848, 192],
      "id": "mc-mutate-node-0005",
      "name": "Create Task",
      "credentials": {
        "postgres": {
          "id": "NEON_CREDENTIAL_ID",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO stories (title, description, outcome, priority)\nVALUES (\n  '{{ $json.body.title }}',\n  NULLIF(NULLIF('{{ $json.body.description }}', ''), 'undefined'),\n  NULLIF(NULLIF('{{ $json.body.outcome }}', ''), 'undefined'),\n  COALESCE(NULLIF(NULLIF('{{ $json.body.priority }}', ''), 'undefined'), 'medium')\n)\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [848, 336],
      "id": "mc-mutate-node-0006",
      "name": "Create Story",
      "credentials": {
        "postgres": {
          "id": "NEON_CREDENTIAL_ID",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1056, 192],
      "id": "mc-mutate-node-0007",
      "name": "Respond"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Unauthorized\"}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [640, 320],
      "id": "mc-mutate-node-0008",
      "name": "Respond 401"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Token Check", "type": "main", "index": 0 }]
      ]
    },
    "Token Check": {
      "main": [
        [{ "node": "Route Action", "type": "main", "index": 0 }],
        [{ "node": "Respond 401", "type": "main", "index": 0 }]
      ]
    },
    "Route Action": {
      "main": [
        [{ "node": "Update Task", "type": "main", "index": 0 }],
        [{ "node": "Create Task", "type": "main", "index": 0 }],
        [{ "node": "Create Story", "type": "main", "index": 0 }]
      ]
    },
    "Update Task": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    },
    "Create Task": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    },
    "Create Story": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "mc-mutate-v1-002",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "0d4efb408d47ca7fe5f9bfa9b6b5b1a6e6f8fcb31cb2584a172b735d47653914"
  },
  "id": "",
  "tags": []
}
