n8n/workflows/Norr AI Client Health Query.json
{
  "updatedAt": "2026-05-27T19:30:35.623Z",
  "createdAt": "2026-05-08T19:17:27.624Z",
  "id": "QggnWbivDrMFMPyJ",
  "name": "Norr AI Client Health Query",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {"path": "client-health", "responseMode": "responseNode", "options": {}},
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "a9fc1a0e-79a1-4189-844b-1b3f3f8f1a08",
      "name": "Receive Request",
      "webhookId": "client-health-webhook-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3},
          "conditions": [{"id": "token-check-health-001", "leftValue": "={{ $json.headers[\"x-norr-token\"] }}", "rightValue": "=8F68D963-7060-4033-BD04-7593E4B203CB", "operator": {"type": "string", "operation": "startsWith"}}],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [192, 0],
      "id": "101bf7f0-e695-4f41-89d6-3d1ffa39a21b",
      "name": "Token Check"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.id, c.business_name, c.vertical, c.tier, we.workflow_name, MAX(CASE WHEN we.event_type = 'triggered' THEN we.created_at END) AS last_triggered_at, MAX(CASE WHEN we.event_type = 'failed' THEN we.created_at END) AS last_failed_at, COUNT(CASE WHEN we.event_type = 'failed' AND we.created_at > now() - interval '7 days' THEN 1 END) AS failures_7d FROM clients c LEFT JOIN workflow_events we ON we.client_id = c.id WHERE c.status = 'active' GROUP BY c.id, c.business_name, c.vertical, c.tier, we.workflow_name ORDER BY c.business_name, we.workflow_name",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [400, 0],
      "id": "b36dd756-83b0-4e0b-b666-f00e3d946a5b",
      "name": "Query Neon",
      "credentials": {"postgres": {"id": "2DDeKGMIP9Ijbd9R", "name": "Postgres account"}}
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json);\nconst SCHEDULED = ['chief_of_staff'];\nconst RANK = { red: 2, yellow: 1, green: 0 };\nconst now = new Date();\n\nconst map = {};\nfor (const row of rows) {\n  const key = row.id;\n  if (!map[key]) {\n    map[key] = { id: row.id, business_name: row.business_name, vertical: row.vertical, tier: row.tier, workflows: [] };\n  }\n  if (!row.workflow_name) continue;\n  const isScheduled = SCHEDULED.some(n => row.workflow_name.toLowerCase().includes(n));\n  const days = isScheduled ? 2 : 7;\n  const threshold = new Date(now - days * 86400000);\n  const lastTriggered = row.last_triggered_at ? new Date(row.last_triggered_at) : null;\n  const failures = parseInt(row.failures_7d) || 0;\n  let status = 'green';\n  if (failures > 0) status = 'red';\n  else if (!lastTriggered || lastTriggered < threshold) status = 'yellow';\n  map[key].workflows.push({ workflow_name: row.workflow_name, status, last_triggered_at: row.last_triggered_at || null, last_failed_at: row.last_failed_at || null, failures_7d: failures });\n}\n\nconst clients = Object.values(map).map(c => {\n  const worst = c.workflows.reduce((w, wf) => RANK[wf.status] > RANK[w] ? wf.status : w, 'green');\n  return { ...c, status: worst };\n});\n\nclients.sort((a, b) => {\n  const d = RANK[b.status] - RANK[a.status];\n  return d !== 0 ? d : a.business_name.localeCompare(b.business_name);\n});\n\nreturn [{ json: { generated_at: now.toISOString(), clients } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [608, 0],
      "id": "e0a662a7-8d2d-4036-9890-3286a28f91be",
      "name": "Apply Health Logic"
    },
    {
      "parameters": {"options": {}},
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [816, 0],
      "id": "8b8071d7-2392-4118-81a7-e8536c6dbf46",
      "name": "Return Health JSON"
    }
  ],
  "connections": {
    "Receive Request": {"main": [[{"node": "Token Check", "type": "main", "index": 0}]]},
    "Token Check": {"main": [[{"node": "Query Neon", "type": "main", "index": 0}]]},
    "Query Neon": {"main": [[{"node": "Apply Health Logic", "type": "main", "index": 0}]]},
    "Apply Health Logic": {"main": [[{"node": "Return Health JSON", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "binaryMode": "separate", "errorWorkflow": "Al6gagYmiq1feOWq"},
  "staticData": null,
  "meta": {"templateCredsSetupCompleted": true},
  "pinData": {},
  "versionId": "c00a8de1-6eb4-462d-83be-139061f89e55",
  "activeVersionId": "c00a8de1-6eb4-462d-83be-139061f89e55",
  "versionCounter": 14,
  "triggerCount": 1,
  "tags": [{"id": "1em2yJdCKJ7vT0la", "name": "internal"}]
}
