n8n/workflows/Norr AI Client Health Query.json
{
  "name": "Norr AI Client Health Query",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "client-health",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 144],
      "id": "d1e2f3a4-0001-4000-8000-000000000001",
      "name": "Receive Request",
      "webhookId": "client-health-webhook-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "token-check-health-001",
              "leftValue": "={{ $json.headers[\"x-norr-token\"] }}",
              "rightValue": "=8F68D963-7060-4033-BD04-7593E4B203CB",
              "operator": { "type": "string", "operation": "startsWith" }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [432, 144],
      "id": "d1e2f3a4-0002-4000-8000-000000000002",
      "name": "Token Check"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.id, c.business_name, c.vertical, c.tier, we.workflow_name, MAX(CASE WHEN we.event_type = 'triggered' THEN we.created_at END) AS last_triggered_at, MAX(CASE WHEN we.event_type = 'failed' THEN we.created_at END) AS last_failed_at, COUNT(CASE WHEN we.event_type = 'failed' AND we.created_at > now() - interval '7 days' THEN 1 END) AS failures_7d FROM clients c LEFT JOIN workflow_events we ON we.client_id = c.id WHERE c.status = 'active' GROUP BY c.id, c.business_name, c.vertical, c.tier, we.workflow_name ORDER BY c.business_name, we.workflow_name",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 144],
      "id": "d1e2f3a4-0003-4000-8000-000000000003",
      "name": "Query Neon",
      "credentials": {
        "postgres": {
          "id": "NEON_CREDENTIAL_ID",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json);\nconst SCHEDULED = ['chief_of_staff'];\nconst RANK = { red: 2, yellow: 1, green: 0 };\nconst now = new Date();\n\nconst map = {};\nfor (const row of rows) {\n  const key = row.id;\n  if (!map[key]) {\n    map[key] = { id: row.id, business_name: row.business_name, vertical: row.vertical, tier: row.tier, workflows: [] };\n  }\n  if (!row.workflow_name) continue;\n  const isScheduled = SCHEDULED.some(n => row.workflow_name.toLowerCase().includes(n));\n  const days = isScheduled ? 2 : 7;\n  const threshold = new Date(now - days * 86400000);\n  const lastTriggered = row.last_triggered_at ? new Date(row.last_triggered_at) : null;\n  const failures = parseInt(row.failures_7d) || 0;\n  let status = 'green';\n  if (failures > 0) status = 'red';\n  else if (!lastTriggered || lastTriggered < threshold) status = 'yellow';\n  map[key].workflows.push({\n    workflow_name: row.workflow_name,\n    status,\n    last_triggered_at: row.last_triggered_at || null,\n    last_failed_at: row.last_failed_at || null,\n    failures_7d: failures\n  });\n}\n\nconst clients = Object.values(map).map(c => {\n  const worst = c.workflows.reduce((w, wf) => RANK[wf.status] > RANK[w] ? wf.status : w, 'green');\n  return { ...c, status: worst };\n});\n\nclients.sort((a, b) => {\n  const d = RANK[b.status] - RANK[a.status];\n  return d !== 0 ? d : a.business_name.localeCompare(b.business_name);\n});\n\nreturn [{ json: { generated_at: now.toISOString(), clients } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [848, 144],
      "id": "d1e2f3a4-0004-4000-8000-000000000004",
      "name": "Apply Health Logic"
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1056, 144],
      "id": "d1e2f3a4-0005-4000-8000-000000000005",
      "name": "Return Health JSON"
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Request": { "main": [[{ "node": "Token Check", "type": "main", "index": 0 }]] },
    "Token Check": { "main": [[{ "node": "Query Neon", "type": "main", "index": 0 }]] },
    "Query Neon": { "main": [[{ "node": "Apply Health Logic", "type": "main", "index": 0 }]] },
    "Apply Health Logic": { "main": [[{ "node": "Return Health JSON", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "versionId": "client-health-query-v1-001",
  "meta": { "templateCredsSetupCompleted": false, "instanceId": "0d4efb408d47ca7fe5f9bfa9b6b5b1a6e6f8fcb31cb2584a172b735d47653914" },
  "id": "",
  "tags": []
}
