n8n/workflows/Norr AI Chief of Staff.json
{
  "name": "Norr AI Chief of Staff",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 13 * * 1,4"
            }
          ]
        }
      },
      "id": "1236ef31-1458-4f55-a308-9a39cf3434c5",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/egachuu-jpg/norrai/contents/CLAUDE.md",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "id": "5fdf7594-d8ad-462d-9125-457b32c0b0a9",
      "name": "Fetch CLAUDE.md",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CWOjXYtQUUT6WXv6",
          "name": "GitHub PAT Norr AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if (!$json.content) {\n  return [{ json: { sections: {} } }];\n}\n\nconst rawContent = Buffer.from($json.content, 'base64').toString('utf-8');\n\nconst openTasksMatch = rawContent.match(/## Open Tasks([\\s\\S]*?)(?=\\n#{1,2} |\\n---\\n|$)/);\nif (!openTasksMatch) {\n  return [{ json: { sections: {} } }];\n}\n\nconst openTasksContent = openTasksMatch[1];\nconst sections = {};\nlet currentSection = 'General';\n\nfor (const line of openTasksContent.split('\\n')) {\n  const trimmed = line.trim();\n  if (trimmed.startsWith('### ')) {\n    currentSection = trimmed.slice(4);\n  } else if (trimmed.startsWith('- [ ]')) {\n    const task = trimmed.replace(/^- \\[ \\] /, '');\n    if (!sections[currentSection]) sections[currentSection] = [];\n    sections[currentSection].push(task);\n  }\n}\n\nreturn [{ json: { sections } }];"
      },
      "id": "a4cd83de-ff88-4bfe-8d1a-6c7e806d7fe0",
      "name": "Parse Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const sections = $json.sections;\nconst today = new Date().toLocaleDateString('en-US', {\n  weekday: 'short',\n  year: 'numeric',\n  month: 'short',\n  day: 'numeric',\n  timeZone: 'America/Chicago'\n});\n\nconst MAX_ITEMS = 5;\n\nconst blocks = [\n  {\n    type: 'header',\n    text: { type: 'plain_text', text: `Norr AI — Open Tasks  |  ${today}`, emoji: false }\n  },\n  { type: 'divider' }\n];\n\nfor (const [sectionName, tasks] of Object.entries(sections)) {\n  if (!tasks || tasks.length === 0) continue;\n  const displayed = tasks.slice(0, MAX_ITEMS);\n  const remaining = tasks.length - MAX_ITEMS;\n  let text = `*${sectionName}*\\n`;\n  text += displayed.map(t => `• ${t}`).join('\\n');\n  if (remaining > 0) text += `\\n_+ ${remaining} more_`;\n  blocks.push({\n    type: 'section',\n    text: { type: 'mrkdwn', text }\n  });\n}\n\nif (blocks.length === 2) {\n  blocks.push({\n    type: 'section',\n    text: { type: 'mrkdwn', text: '_No open tasks — all caught up!_' }\n  });\n}\n\nreturn [{ json: { blocks } }];"
      },
      "id": "c6dad56c-4487-4b00-b7e6-5930e96a03b3",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ blocks: $json.blocks }) }}",
        "options": {}
      },
      "id": "677430a6-ac1f-43e5-8b2e-7169b98ec3e7",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1120,
        0
      ],
      "id": "87ce4d64-3b40-4635-b109-6398f1751837",
      "name": "Log All to Neon",
      "credentials": {
        "postgres": {
          "id": "2DDeKGMIP9Ijbd9R",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Fetch CLAUDE.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CLAUDE.md": {
      "main": [
        [
          {
            "node": "Parse Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tasks": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack": {
      "main": [
        [
          {
            "node": "Log All to Neon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "Al6gagYmiq1feOWq"
  },
  "versionId": "81fafe11-18ac-4561-8061-b58d16938aaf",
  "meta": {
    "instanceId": "0d4efb408d47ca7fe5f9bfa9b6b5b1a6e6f8fcb31cb2584a172b735d47653914"
  },
  "nodeGroups": [],
  "id": "75wL6u7AJ3pHEuPP",
  "tags": [
    {
      "updatedAt": "2026-05-08T19:17:02.461Z",
      "createdAt": "2026-05-08T19:17:02.461Z",
      "id": "1em2yJdCKJ7vT0la",
      "name": "internal"
    }
  ]
}