n8n/workflows/Norr AI Red Alert Scheduler.json
{
  "name": "Norr AI Red Alert Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 11 * * *" },
            { "field": "cronExpression", "expression": "0 23 * * *" }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 144],
      "id": "e2f3a4b5-0001-4000-8000-000000000001",
      "name": "Schedule 6am + 6pm CT"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.id, c.business_name, c.vertical, c.tier, we.workflow_name, MAX(CASE WHEN we.event_type = 'triggered' THEN we.created_at END) AS last_triggered_at, MAX(CASE WHEN we.event_type = 'failed' THEN we.created_at END) AS last_failed_at, COUNT(CASE WHEN we.event_type = 'failed' AND we.created_at > now() - interval '7 days' THEN 1 END) AS failures_7d FROM clients c LEFT JOIN workflow_events we ON we.client_id = c.id WHERE c.status = 'active' GROUP BY c.id, c.business_name, c.vertical, c.tier, we.workflow_name ORDER BY c.business_name, we.workflow_name",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [448, 144],
      "id": "e2f3a4b5-0002-4000-8000-000000000002",
      "name": "Query Neon",
      "credentials": {
        "postgres": {
          "id": "NEON_CREDENTIAL_ID",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json);\nconst SCHEDULED = ['chief_of_staff'];\nconst RANK = { red: 2, yellow: 1, green: 0 };\nconst now = new Date();\n\nconst map = {};\nfor (const row of rows) {\n  const key = row.id;\n  if (!map[key]) {\n    map[key] = { id: row.id, business_name: row.business_name, vertical: row.vertical, tier: row.tier, workflows: [] };\n  }\n  if (!row.workflow_name) continue;\n  const isScheduled = SCHEDULED.some(n => row.workflow_name.toLowerCase().includes(n));\n  const days = isScheduled ? 2 : 7;\n  const threshold = new Date(now - days * 86400000);\n  const lastTriggered = row.last_triggered_at ? new Date(row.last_triggered_at) : null;\n  const failures = parseInt(row.failures_7d) || 0;\n  let wfStatus = 'green';\n  if (failures > 0) wfStatus = 'red';\n  else if (!lastTriggered || lastTriggered < threshold) wfStatus = 'yellow';\n  map[key].workflows.push({ workflow_name: row.workflow_name, status: wfStatus, last_failed_at: row.last_failed_at || null, failures_7d: failures, silence_days: days });\n}\n\nconst clients = Object.values(map).map(c => {\n  const worst = c.workflows.reduce((w, wf) => RANK[wf.status] > RANK[w] ? wf.status : w, 'green');\n  return { ...c, status: worst };\n});\n\nconst redClients = clients.filter(c => c.status === 'red');\n\nif (redClients.length === 0) {\n  return [{ json: { red_count: 0, slack_message: '' } }];\n}\n\nfunction fmt(iso) {\n  return new Date(iso).toLocaleString('en-US', { timeZone: 'America/Chicago', month: 'short', day: 'numeric', hour: 'numeric', minute: '2-digit' });\n}\n\nconst lines = [];\nfor (const c of redClients) {\n  lines.push(':red_circle: *' + c.business_name + '*');\n  for (const wf of c.workflows.filter(w => w.status === 'red')) {\n    if (wf.failures_7d > 0) {\n      const when = wf.last_failed_at ? fmt(wf.last_failed_at) : 'unknown time';\n      lines.push('  \\u2022 ' + wf.workflow_name + ' \\u2014 ' + wf.failures_7d + ' failure' + (wf.failures_7d > 1 ? 's' : '') + ' in last 7 days (last: ' + when + ')');\n    } else {\n      lines.push('  \\u2022 ' + wf.workflow_name + ' \\u2014 no activity in ' + wf.silence_days + ' days');\n    }\n  }\n}\n\nconst n = redClients.length;\nconst slack_message = '*Client Health Alert \\u2014 ' + n + ' client' + (n > 1 ? 's' : '') + ' need' + (n === 1 ? 's' : '') + ' attention*\\n\\n' + lines.join('\\n');\n\nreturn [{ json: { red_count: n, slack_message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [656, 144],
      "id": "e2f3a4b5-0003-4000-8000-000000000003",
      "name": "Build Alert"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "has-red-001",
              "leftValue": "={{ $json.red_count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [864, 144],
      "id": "e2f3a4b5-0004-4000-8000-000000000004",
      "name": "Has Red Clients?"
    },
    {
      "parameters": {
        "url": "SLACK_WEBHOOK_URL",
        "method": "POST",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ text: $json.slack_message }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1072, 60],
      "id": "e2f3a4b5-0005-4000-8000-000000000005",
      "name": "Post to Slack"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule 6am + 6pm CT": { "main": [[{ "node": "Query Neon", "type": "main", "index": 0 }]] },
    "Query Neon": { "main": [[{ "node": "Build Alert", "type": "main", "index": 0 }]] },
    "Build Alert": { "main": [[{ "node": "Has Red Clients?", "type": "main", "index": 0 }]] },
    "Has Red Clients?": { "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "versionId": "red-alert-scheduler-v1-001",
  "meta": { "templateCredsSetupCompleted": false, "instanceId": "0d4efb408d47ca7fe5f9bfa9b6b5b1a6e6f8fcb31cb2584a172b735d47653914" },
  "id": "",
  "tags": []
}
