n8n/workflows/Nurture Prompt Confirm.json
{
  "name": "Nurture Prompt Confirm",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nurture-prompt-confirm",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 144],
      "id": "npc00001-0001-4000-8000-000000000001",
      "name": "Receive Click",
      "webhookId": "nurture-prompt-confirm-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "npc-token-001",
              "leftValue": "={{ $json.query.token }}",
              "rightValue": "8F68D963-7060-4033-BD04-7593E4B203CB",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [448, 144],
      "id": "npc00001-0002-4000-8000-000000000002",
      "name": "Token Check"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html><html><head><title>Invalid Request</title><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><style>body{font-family:sans-serif;max-width:480px;margin:80px auto;padding:0 24px;color:#0A0F1A}h2{margin-bottom:12px}</style></head><body><h2>Invalid request.</h2><p>This link is not valid. If you think something's wrong, reach out to hello@norrai.co.</p></body></html>",
        "options": {
          "responseCode": 403,
          "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "text/html" }] }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [656, 300],
      "id": "npc00001-0003-4000-8000-000000000003",
      "name": "Respond: Bad Token"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_events (client_id, workflow_name, event_type, payload) VALUES ('e2f9934c-4d28-4bb4-ac90-4284c1123517'::uuid, 'nurture_prompt_confirm', 'triggered', '{\"execution_id\": \"{{ $execution.id }}\", \"lead_id\": \"{{ $json.query.lead_id }}\"}'::jsonb)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [656, 144],
      "id": "npc00001-0004-4000-8000-000000000004",
      "name": "Log Triggered",
      "continueOnFail": true,
      "credentials": {
        "postgres": { "id": "NEON_CREDENTIAL_ID", "name": "Neon Postgres" }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead_id = ($('Receive Click').first().json.query.lead_id || '').trim();\nconst uuidRe = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRe.test(lead_id)) throw new Error('Invalid lead_id format');\nreturn [{ json: {\n  query: `SELECT l.id, l.lead_name, l.email, l.phone, l.source, l.lead_message, l.nurture_enrolled_at, l.metadata, l.client_id, c.primary_contact_name AS agent_name, c.primary_contact_email AS agent_email, c.primary_contact_phone AS agent_phone, c.business_name FROM leads l JOIN clients c ON l.client_id = c.id WHERE l.id = '${lead_id}' LIMIT 1`,\n  lead_id\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [864, 144],
      "id": "npc00001-0005-4000-8000-000000000005",
      "name": "Build Lead Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": { "alwaysOutputData": true }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1072, 144],
      "id": "npc00001-0006-4000-8000-000000000006",
      "name": "Lookup Lead",
      "continueOnFail": true,
      "credentials": {
        "postgres": { "id": "NEON_CREDENTIAL_ID", "name": "Neon Postgres" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "npc-lead-found-001",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1280, 144],
      "id": "npc00001-0007-4000-8000-000000000007",
      "name": "Lead Found?"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html><html><head><title>Not Found</title><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><style>body{font-family:sans-serif;max-width:480px;margin:80px auto;padding:0 24px;color:#0A0F1A}h2{margin-bottom:12px}</style></head><body><h2>Lead not found.</h2><p>This link is invalid or has expired. If you think something's wrong, reach out to hello@norrai.co.</p></body></html>",
        "options": {
          "responseCode": 404,
          "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "text/html" }] }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1488, 300],
      "id": "npc00001-0008-4000-8000-000000000008",
      "name": "Respond: Not Found"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "npc-not-enrolled-001",
              "leftValue": "={{ $json.nurture_enrolled_at }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isEmpty" }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1488, 144],
      "id": "npc00001-0009-4000-8000-000000000009",
      "name": "Not Enrolled?"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ '<!DOCTYPE html><html><head><title>Already Enrolled</title><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><style>body{font-family:sans-serif;max-width:480px;margin:80px auto;padding:0 24px;color:#0A0F1A}h2{margin-bottom:12px}</style></head><body><h2>Already enrolled.</h2><p>' + ($json.lead_name || 'This lead') + ' was already enrolled in the cold nurture sequence.</p></body></html>' }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "text/html" }] }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1696, 300],
      "id": "npc00001-0010-4000-8000-000000000010",
      "name": "Respond: Already Enrolled"
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Lookup Lead').first().json;\nconst meta = (typeof lead.metadata === 'string' ? JSON.parse(lead.metadata) : lead.metadata) || {};\nreturn [{ json: {\n  agent_name:       lead.agent_name     || '',\n  agent_email:      lead.agent_email    || '',\n  agent_phone:      lead.agent_phone    || '',\n  lead_name:        lead.lead_name      || '',\n  phone:            lead.phone          || '',\n  email:            lead.email          || '',\n  source:           lead.source         || '',\n  lead_message:     lead.lead_message   || '',\n  property_address: meta.property_address || '',\n  property_street:  meta.property_street  || '',\n  property_city:    meta.property_city    || '',\n  property_state:   meta.property_state   || '',\n  property_zip:     meta.property_zip     || '',\n  source_form:      'nurture_prompt_confirm',\n  client_token:     '8F68D963-7060-4033-BD04-7593E4B203CB',\n  client_id:        lead.client_id,\n  lead_id:          lead.id\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1696, 144],
      "id": "npc00001-0011-4000-8000-000000000011",
      "name": "Build Enrollment Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://norrai.app.n8n.cloud/webhook/nurture-enroll-slack",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1904, 144],
      "id": "npc00001-0012-4000-8000-000000000012",
      "name": "Fire Nurture Enrollment"
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Lookup Lead').first().json;\nconst enroll = $('Build Enrollment Payload').first().json;\nreturn [{ json: {\n  update_query: `UPDATE leads SET nurture_enrolled_at = now(), updated_at = now() WHERE id = '${enroll.lead_id}'`,\n  log_query:    `INSERT INTO workflow_events (client_id, workflow_name, event_type, payload) VALUES ('${enroll.client_id}'::uuid, 'nurture_prompt_confirm', 'completed', '{\"lead_id\": \"${enroll.lead_id}\"}'::jsonb)`,\n  lead_name:    lead.lead_name || 'This lead'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2112, 144],
      "id": "npc00001-0013-4000-8000-000000000013",
      "name": "Prep Completion"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.update_query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2320, 144],
      "id": "npc00001-0014-4000-8000-000000000014",
      "name": "Update Lead",
      "continueOnFail": true,
      "credentials": {
        "postgres": { "id": "NEON_CREDENTIAL_ID", "name": "Neon Postgres" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('Prep Completion').first().json.log_query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2528, 144],
      "id": "npc00001-0015-4000-8000-000000000015",
      "name": "Log Completed",
      "continueOnFail": true,
      "credentials": {
        "postgres": { "id": "NEON_CREDENTIAL_ID", "name": "Neon Postgres" }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ '<!DOCTYPE html><html><head><title>Done</title><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><style>body{font-family:sans-serif;max-width:480px;margin:80px auto;padding:0 24px;color:#0A0F1A}h2{margin-bottom:12px}p{color:#3A3F48;line-height:1.6}</style></head><body><h2>Done.</h2><p>' + $(\\'Prep Completion\\').first().json.lead_name + ' has been enrolled in the cold nurture sequence. The first touch goes out shortly.</p></body></html>' }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "text/html" }] }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2736, 144],
      "id": "npc00001-0016-4000-8000-000000000016",
      "name": "Respond: Success"
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Click": {
      "main": [[{ "node": "Token Check", "type": "main", "index": 0 }]]
    },
    "Token Check": {
      "main": [
        [{ "node": "Log Triggered", "type": "main", "index": 0 }],
        [{ "node": "Respond: Bad Token", "type": "main", "index": 0 }]
      ]
    },
    "Log Triggered": {
      "main": [[{ "node": "Build Lead Query", "type": "main", "index": 0 }]]
    },
    "Build Lead Query": {
      "main": [[{ "node": "Lookup Lead", "type": "main", "index": 0 }]]
    },
    "Lookup Lead": {
      "main": [[{ "node": "Lead Found?", "type": "main", "index": 0 }]]
    },
    "Lead Found?": {
      "main": [
        [{ "node": "Not Enrolled?", "type": "main", "index": 0 }],
        [{ "node": "Respond: Not Found", "type": "main", "index": 0 }]
      ]
    },
    "Not Enrolled?": {
      "main": [
        [{ "node": "Build Enrollment Payload", "type": "main", "index": 0 }],
        [{ "node": "Respond: Already Enrolled", "type": "main", "index": 0 }]
      ]
    },
    "Build Enrollment Payload": {
      "main": [[{ "node": "Fire Nurture Enrollment", "type": "main", "index": 0 }]]
    },
    "Fire Nurture Enrollment": {
      "main": [[{ "node": "Prep Completion", "type": "main", "index": 0 }]]
    },
    "Prep Completion": {
      "main": [[{ "node": "Update Lead", "type": "main", "index": 0 }]]
    },
    "Update Lead": {
      "main": [[{ "node": "Log Completed", "type": "main", "index": 0 }]]
    },
    "Log Completed": {
      "main": [[{ "node": "Respond: Success", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "nurture-prompt-confirm-v1-001",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "0d4efb408d47ca7fe5f9bfa9b6b5b1a6e6f8fcb31cb2584a172b735d47653914"
  },
  "id": "",
  "tags": []
}
