n8n/workflows/PropertyBoost Intake.json
{
  "name": "PropertyBoost Intake",
  "nodes": [
    {
      "parameters": {
        "filters": {
          "q": "{from:eknutson@teamyellownow.com from:mjasinski@teamyellownow.com} subject:\"New Lead Email\""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "pbpi0001-0001-4000-8000-000000000001",
      "name": "Gmail Trigger",
      "webhookId": "property-boost-intake-gmail-001",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_NORRAI_CREDENTIAL_ID",
          "name": "Gmail - Norr AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const from = $input.first().json.from || '';\n// Handle both 'Name <email>' and plain email formats\nconst match = from.match(/<([^>]+)>/) || from.match(/([^\\s]+@[^\\s]+)/);\nconst fromEmail = (match ? match[1] : from).toLowerCase().trim();\n\nconst agents = {\n  'eknutson@teamyellownow.com': {\n    client_id: 'ded234e3-1c78-45c3-8924-6036e1fcaf60',\n    agent_email: 'eknutson@teamyellownow.com'\n  },\n  'mjasinski@teamyellownow.com': {\n    client_id: '451306d1-6437-42b8-8ffe-c16f28803490',\n    agent_email: 'mjasinski@teamyellownow.com'\n  }\n};\n\nconst agent = agents[fromEmail];\nif (!agent) {\n  throw new Error(`Unrecognized forwarding address: ${fromEmail}`);\n}\n\nreturn [{\n  json: {\n    client_id: agent.client_id,\n    agent_email: agent.agent_email,\n    html_body: $input.first().json.html || $input.first().json.text || '',\n    subject: $input.first().json.subject || '',\n    from_raw: from\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "id": "pbpi0001-0002-4000-8000-000000000002",
      "name": "Resolve Agent"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_events (client_id, workflow_name, event_type, payload) VALUES ('{{ $json.client_id }}', 'property_boost_intake', 'triggered', '{\"execution_id\": \"{{ $execution.id }}\", \"agent_email\": \"{{ $json.agent_email }}\", \"subject\": \"{{ $json.subject }}\"}'::jsonb)"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 300],
      "id": "pbpi0001-0003-4000-8000-000000000003",
      "name": "Log Triggered",
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "NEON_CREDENTIAL_ID",
          "name": "Neon account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Resolve Agent').first().json;\nreturn [{\n  json: {\n    html_body: d.html_body,\n    client_id: d.client_id,\n    agent_email: d.agent_email\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300],
      "id": "pbpi0001-0004-4000-8000-000000000004",
      "name": "Build Parser Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://norrai.app.n8n.cloud/webhook/property-boost-parser",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1040, 300],
      "id": "pbpi0001-0005-4000-8000-000000000005",
      "name": "Call PropertyBoost Parser"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_events (client_id, workflow_name, event_type, payload) VALUES ('{{ $('Resolve Agent').first().json.client_id }}', 'property_boost_intake', 'completed', '{\"execution_id\": \"{{ $execution.id }}\"}'::jsonb)"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1240, 300],
      "id": "pbpi0001-0006-4000-8000-000000000006",
      "name": "Log Completed",
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "NEON_CREDENTIAL_ID",
          "name": "Neon account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {"main": [[{"node": "Resolve Agent", "type": "main", "index": 0}]]},
    "Resolve Agent": {"main": [[{"node": "Log Triggered", "type": "main", "index": 0}]]},
    "Log Triggered": {"main": [[{"node": "Build Parser Request", "type": "main", "index": 0}]]},
    "Build Parser Request": {"main": [[{"node": "Call PropertyBoost Parser", "type": "main", "index": 0}]]},
    "Call PropertyBoost Parser": {"main": [[{"node": "Log Completed", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Norr AI Workflow Error Logger"
  },
  "versionId": "property-boost-intake-v1-001",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "0d4efb408d47ca7fe5f9bfa9b6b5b1a6e6f8fcb31cb2584a172b735d47653914"
  },
  "id": "",
  "tags": []
}
