n8n/workflows/Real Estate 7-Touch Cold Nurture.json
{
  "updatedAt": "2026-06-25T01:10:47.058Z",
  "createdAt": "2026-06-04T02:05:48.275Z",
  "id": "LNVSsULAW1WrIHz1",
  "name": "Real Estate 7-Touch Cold Nurture",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cn-enroll",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        144
      ],
      "id": "22a0d38c-8599-4831-b847-1ce56044786a",
      "name": "Manual Enrollment",
      "webhookId": "a3f7c291-4e82-4b1d-9c5a-8d6e2f0b3471"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "token-check-nurture-001",
              "leftValue": "={{ $json.headers[\"x-norr-token\"] }}",
              "rightValue": "=8F68D963-7060-4033-BD04-7593E4B203CB",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        144
      ],
      "id": "ef2e3790-5a9b-4917-aafd-a077f6b0fa51",
      "name": "Token Check"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Manual Enrollment').first().json.body;\n\nconst lead_name        = body.lead_name        || '';\nconst phone            = body.phone            || '';\nconst email            = body.email            || '';\nconst source           = body.source           || '';\nconst lead_message     = body.lead_message     || '';\nconst property_address = body.property_address || '';\nconst price_range      = body.price_range      || '';\nconst beds             = body.beds             || '';\nconst baths            = body.baths            || '';\nconst agent_name       = body.agent_name       || '';\nconst agent_email      = body.agent_email      || '';\nconst agent_phone      = body.agent_phone      || '';\nconst business_name    = body.business_name    || '';\n\nconst lines = [];\nif (property_address) lines.push(`Property of interest: ${property_address}`);\nif (price_range)      lines.push(`Price range: ${price_range}`);\nif (beds !== '' || baths !== '')    lines.push(`Beds/baths: ${beds || '?'} bed / ${baths || '?'} bath`);\nif (lead_message)     lines.push(`Original message: \\\"${lead_message}\\\"`);\n\nconst context_block = lines.length\n  ? lines.join('\\n')\n  : 'General buyer inquiry — no details or message on file.';\n\nreturn [{\n  json: {\n    lead_name, phone, email, source, lead_message, property_address, price_range, beds, baths,\n    agent_name, agent_email, agent_phone, business_name,\n    has_email: email.trim().length > 0,\n    context_block,\n    channel: 'email',\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        144
      ],
      "id": "43468ac4-3975-42e5-87e6-a7a670a5de84",
      "name": "Prep Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET nurture_enrolled_at = now(), updated_at = now() WHERE email = '{{ $json.email }}' AND nurture_enrolled_at IS NULL",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1392,
        144
      ],
      "id": "a106181f-b0c3-4f20-b222-050fc6f1e253",
      "name": "Mark Nurture Enrolled",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2DDeKGMIP9Ijbd9R",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT email_opt_out FROM leads WHERE LOWER(email) = LOWER('{{ $('Prep Fields').item.json.email }}') LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1616,
        144
      ],
      "id": "e4b6a9b9-ce90-4519-96d3-68bc10a2156a",
      "name": "Check Email Opt-Out",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2DDeKGMIP9Ijbd9R",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cn-optout-01-cond",
              "leftValue": "={{ ($input.first().json.email_opt_out || false) }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1840,
        144
      ],
      "id": "05472f02-0937-4e6e-b2ec-9e5434a71e60",
      "name": "Email Opted Out?"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2064,
        144
      ],
      "id": "fac12acf-1ba8-42fd-9633-a08594cdfd5d",
      "name": "Wait Day 1",
      "webhookId": "3a47532e-27fc-4406-abd6-a02c4fa33954"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.status, l.id AS lead_id FROM leads l JOIN clients c ON l.client_id = c.id WHERE l.email = '{{ $('Prep Fields').first().json.email }}' AND c.primary_contact_email = '{{ $('Prep Fields').first().json.agent_email }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2288,
        144
      ],
      "id": "ecb47098-e92e-4f18-b6f7-c2a3b083668a",
      "name": "Check Enrolled T1",
      "credentials": {
        "postgres": {
          "id": "2DDeKGMIP9Ijbd9R",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "chk-t1-001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "nurturing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2512,
        144
      ],
      "id": "7a4978a5-620a-405b-a39b-b67b71c6926c",
      "name": "IF Enrolled T1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-t1",
              "name": "prompt",
              "value": "=You are {{ $('Prep Fields').first().json.agent_name }}, a real estate agent following up with a lead who went quiet.\n\nLEAD: {{ $('Prep Fields').first().json.lead_name }}\nSource: {{ $('Prep Fields').first().json.source }}\nLEAD CONTEXT:\n{{ $('Prep Fields').first().json.context_block }}\n\nThis is TOUCH 1 of 6 — Day 1. Channel: EMAIL.\nAngle: Warm follow-up. You reached out once and didn't hear back. Keep it short. Reference what you know about their search — if a property is listed use it specifically, otherwise speak to their search stage based on the context available. Only reference details you have been given — do not invent specifics you weren't told. If context is minimal, focus entirely on warmth and availability — skip property-specific references. No pressure. Sign off with your name and phone: {{ $('Prep Fields').first().json.agent_phone }}\n\nWrite a subject line and email body. Format exactly as:\nSUBJECT: [subject here]\nBODY: [email body here]\n\nKeep the body under 80 words. Warm and personal.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2736,
        144
      ],
      "id": "c00a17d5-fc90-4db2-95c3-122d918243ab",
      "name": "Build Prompt T1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 300,\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2960,
        144
      ],
      "id": "23fe2e8a-832b-4d18-bc8e-b8b0bdfe9be4",
      "name": "Claude T1",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "anthropicApi": {
          "id": "gXqu8TiqvDY4mUPZ",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text.trim();\nconst subjectMatch = text.split('SUBJECT:')[1];\nconst bodyMatch = text.split('BODY:')[1];\nconst subject = subjectMatch ? subjectMatch.split('BODY:')[0].trim() : 'Following up';\nconst body = bodyMatch ? bodyMatch.trim() : text;\nconst p = $('Prep Fields').first().json;\nconst lead_id = $('Check Enrolled T1').first().json.lead_id || '';\nconst sig = p.business_name ? '<p style=\"font-size:13px;color:#3A3F48;font-family:Inter,sans-serif;margin-top:16px;margin-bottom:0;\">' + p.business_name + '</p>' : '';\nconst html_body = '<p style=\"font-family:Inter,sans-serif;color:#3A3F48;line-height:1.6;\">' + body.replace(/\\n/g, '<br>') + '</p>' + sig + '<p style=\"font-size:12px;color:#9EA3AA;border-top:1px solid #E5E4DE;padding-top:16px;margin-top:24px;\">To stop receiving these emails, <a href=\"https://norrai.app.n8n.cloud/webhook/nurture-deenroll-confirm?lead_id=' + lead_id + '&amp;token=8F68D963-7060-4033-BD04-7593E4B203CB\" style=\"color:#9EA3AA;\">click here</a>.</p>';\nreturn [{ json: { subject, body, html_body, ...p } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        144
      ],
      "id": "8979b68b-3233-476f-9aee-0bba00b653c9",
      "name": "Extract T1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { personalizations: [{ to: [{ email: $json.email }], subject: $json.subject }], from: { email: 'hello@norrai.co', name: $json.agent_name }, content: [{ type: 'text/html', value: $json.html_body }], tracking_settings: { click_tracking: { enable: false } } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3408,
        144
      ],
      "id": "e3547eac-34eb-46b2-a379-bbde355790a4",
      "name": "Email T1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "d2B1Q0ceGNVDwjqs",
          "name": "Header Auth account"
        }
      },
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3632,
        144
      ],
      "id": "d174e5dc-f081-48cc-abf0-d173a5cc3844",
      "name": "Wait Day 3",
      "webhookId": "46c76d7a-8c31-4734-b442-59730fdea0ff"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.status, l.id AS lead_id FROM leads l JOIN clients c ON l.client_id = c.id WHERE l.email = '{{ $('Prep Fields').first().json.email }}' AND c.primary_contact_email = '{{ $('Prep Fields').first().json.agent_email }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3856,
        144
      ],
      "id": "123bd257-81a5-4677-9ec6-7736d926674e",
      "name": "Check Enrolled T2",
      "credentials": {
        "postgres": {
          "id": "2DDeKGMIP9Ijbd9R",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "chk-t2-001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "nurturing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4080,
        144
      ],
      "id": "f2893063-7cb5-4a59-ae61-7270b8707b48",
      "name": "IF Enrolled T2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-t2",
              "name": "prompt",
              "value": "=You are {{ $('Prep Fields').first().json.agent_name }}, a real estate agent.\n\nLEAD: {{ $('Prep Fields').first().json.lead_name }}\nLEAD CONTEXT:\n{{ $('Prep Fields').first().json.context_block }}\n\nThis is TOUCH 2 of 6 — Day 3. Channel: EMAIL.\nAngle: Different angle from the first message. Pick one compelling angle — a specific detail about the property if listed, a sharp market observation if you have a price range, or a genuine question about what they're prioritizing if you have neither. Only reference property details you have been given — do not invent specifics you weren't told. Make it feel like a genuine tip, not a follow-up. No \"just checking in.\" Sign off with your name and phone: {{ $('Prep Fields').first().json.agent_phone }}\n\nWrite a subject line and email body. Format exactly as:\nSUBJECT: [subject here]\nBODY: [email body here]\n\nBody under 80 words. Sharp and useful.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4304,
        144
      ],
      "id": "c70759c9-7bf7-4c7a-abdd-fa8311a09eb2",
      "name": "Build Prompt T2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 300,\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4528,
        144
      ],
      "id": "73715129-b23b-4704-a746-4b8ade596af8",
      "name": "Claude T2",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "anthropicApi": {
          "id": "gXqu8TiqvDY4mUPZ",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text.trim();\nconst subjectMatch = text.split('SUBJECT:')[1];\nconst bodyMatch = text.split('BODY:')[1];\nconst subject = subjectMatch ? subjectMatch.split('BODY:')[0].trim() : 'Quick thought';\nconst body = bodyMatch ? bodyMatch.trim() : text;\nconst p = $('Prep Fields').first().json;\nconst lead_id = $('Check Enrolled T2').first().json.lead_id || '';\nconst sig = p.business_name ? '<p style=\"font-size:13px;color:#3A3F48;font-family:Inter,sans-serif;margin-top:16px;margin-bottom:0;\">' + p.business_name + '</p>' : '';\nconst html_body = '<p style=\"font-family:Inter,sans-serif;color:#3A3F48;line-height:1.6;\">' + body.replace(/\\n/g, '<br>') + '</p>' + sig + '<p style=\"font-size:12px;color:#9EA3AA;border-top:1px solid #E5E4DE;padding-top:16px;margin-top:24px;\">To stop receiving these emails, <a href=\"https://norrai.app.n8n.cloud/webhook/nurture-deenroll-confirm?lead_id=' + lead_id + '&amp;token=8F68D963-7060-4033-BD04-7593E4B203CB\" style=\"color:#9EA3AA;\">click here</a>.</p>';\nreturn [{ json: { subject, body, html_body, ...p } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4752,
        144
      ],
      "id": "44141bb5-96d4-45d0-bdcc-c496b64d0175",
      "name": "Extract T2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { personalizations: [{ to: [{ email: $json.email }], subject: $json.subject }], from: { email: 'hello@norrai.co', name: $json.agent_name }, content: [{ type: 'text/html', value: $json.html_body }], tracking_settings: { click_tracking: { enable: false } } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4976,
        144
      ],
      "id": "7da52744-dddb-4c62-8e1a-4aaca6897f2d",
      "name": "Email T2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "d2B1Q0ceGNVDwjqs",
          "name": "Header Auth account"
        }
      },
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5200,
        144
      ],
      "id": "2c86f004-2dbb-4e13-a654-04b8c6ee5e5e",
      "name": "Wait Day 7",
      "webhookId": "a8601cde-ef8b-4e82-b024-718b2e75a3c7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.status, l.id AS lead_id FROM leads l JOIN clients c ON l.client_id = c.id WHERE l.email = '{{ $('Prep Fields').first().json.email }}' AND c.primary_contact_email = '{{ $('Prep Fields').first().json.agent_email }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5424,
        144
      ],
      "id": "f8754c37-5326-47cc-9e6e-7429dbf8ac0a",
      "name": "Check Enrolled T3",
      "credentials": {
        "postgres": {
          "id": "2DDeKGMIP9Ijbd9R",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "chk-t3-001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "nurturing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5648,
        144
      ],
      "id": "6237f255-ffaa-4b5a-b20b-8f78ed5e070e",
      "name": "IF Enrolled T3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-t3",
              "name": "prompt",
              "value": "=You are {{ $('Prep Fields').first().json.agent_name }}, a real estate agent.\n\nLEAD: {{ $('Prep Fields').first().json.lead_name }}\nLEAD CONTEXT:\n{{ $('Prep Fields').first().json.context_block }}\n\nThis is TOUCH 3 of 6 — Day 7. Channel: EMAIL.\nAngle: Value-add. If you have specific context (price range, property), share a relevant market observation. If context is minimal, acknowledge that real estate timing is everything and offer a genuine, no-pressure check-in. Make them feel like you're giving them useful intel, not chasing them. Sign off with your name and phone: {{ $('Prep Fields').first().json.agent_phone }}\n\nWrite a subject line and email body. Format exactly as:\nSUBJECT: [subject here]\nBODY: [email body here]\n\nBody under 100 words. Informative, not salesy.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5872,
        144
      ],
      "id": "edf43d18-b5a4-4ee4-87a3-473254eb336d",
      "name": "Build Prompt T3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 300,\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6096,
        144
      ],
      "id": "9a54151f-8542-465d-915f-3f8814a89cc1",
      "name": "Claude T3",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "anthropicApi": {
          "id": "gXqu8TiqvDY4mUPZ",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text.trim();\nconst subjectMatch = text.split('SUBJECT:')[1];\nconst bodyMatch = text.split('BODY:')[1];\nconst subject = subjectMatch ? subjectMatch.split('BODY:')[0].trim() : 'Market update';\nconst body = bodyMatch ? bodyMatch.trim() : text;\nconst p = $('Prep Fields').first().json;\nconst lead_id = $('Check Enrolled T3').first().json.lead_id || '';\nconst sig = p.business_name ? '<p style=\"font-size:13px;color:#3A3F48;font-family:Inter,sans-serif;margin-top:16px;margin-bottom:0;\">' + p.business_name + '</p>' : '';\nconst html_body = '<p style=\"font-family:Inter,sans-serif;color:#3A3F48;line-height:1.6;\">' + body.replace(/\\n/g, '<br>') + '</p>' + sig + '<p style=\"font-size:12px;color:#9EA3AA;border-top:1px solid #E5E4DE;padding-top:16px;margin-top:24px;\">To stop receiving these emails, <a href=\"https://norrai.app.n8n.cloud/webhook/nurture-deenroll-confirm?lead_id=' + lead_id + '&amp;token=8F68D963-7060-4033-BD04-7593E4B203CB\" style=\"color:#9EA3AA;\">click here</a>.</p>';\nreturn [{ json: { subject, body, html_body, ...p } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6320,
        144
      ],
      "id": "baea30f8-4ae1-4025-a663-91e8e2539e70",
      "name": "Extract T3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { personalizations: [{ to: [{ email: $json.email }], subject: $json.subject }], from: { email: 'hello@norrai.co', name: $json.agent_name }, content: [{ type: 'text/html', value: $json.html_body }], tracking_settings: { click_tracking: { enable: false } } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6544,
        144
      ],
      "id": "081423df-aa37-42f3-90fb-7cfdd14f9617",
      "name": "Email T3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "d2B1Q0ceGNVDwjqs",
          "name": "Header Auth account"
        }
      },
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6768,
        144
      ],
      "id": "6ab0f4ed-2d6e-4316-af45-b19a1d8aaf33",
      "name": "Wait Day 10",
      "webhookId": "94a6c329-3970-46ae-9a94-867956fd5993"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.status, l.id AS lead_id FROM leads l JOIN clients c ON l.client_id = c.id WHERE l.email = '{{ $('Prep Fields').first().json.email }}' AND c.primary_contact_email = '{{ $('Prep Fields').first().json.agent_email }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6992,
        144
      ],
      "id": "b36c4357-56e9-4da2-8a94-f43001929a9b",
      "name": "Check Enrolled T4",
      "credentials": {
        "postgres": {
          "id": "2DDeKGMIP9Ijbd9R",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "chk-t4-001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "nurturing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7216,
        144
      ],
      "id": "3d3897a0-19dc-4343-b5ce-b2138bede3a4",
      "name": "IF Enrolled T4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-t4",
              "name": "prompt",
              "value": "=You are {{ $('Prep Fields').first().json.agent_name }}, a real estate agent.\n\nLEAD: {{ $('Prep Fields').first().json.lead_name }}\nLEAD CONTEXT:\n{{ $('Prep Fields').first().json.context_block }}\n\nThis is TOUCH 4 of 6 — Day 10. Channel: EMAIL.\nAngle: Soft check-in. Are they still searching? Maybe their situation changed. Keep it genuinely curious, not needy. Sign off with your name: {{ $('Prep Fields').first().json.agent_name }}\n\nWrite a subject line and email body. Format exactly as:\nSUBJECT: [subject here]\nBODY: [email body here]\n\nBody under 60 words. Casual and brief.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7440,
        144
      ],
      "id": "069f5316-1f06-4b83-8967-5aafa6f78a7f",
      "name": "Build Prompt T4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 300,\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7664,
        144
      ],
      "id": "0180e156-e5ab-4f43-8a2e-edca7fa6621c",
      "name": "Claude T4",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "anthropicApi": {
          "id": "gXqu8TiqvDY4mUPZ",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text.trim();\nconst subjectMatch = text.split('SUBJECT:')[1];\nconst bodyMatch = text.split('BODY:')[1];\nconst subject = subjectMatch ? subjectMatch.split('BODY:')[0].trim() : 'Still here';\nconst body = bodyMatch ? bodyMatch.trim() : text;\nconst p = $('Prep Fields').first().json;\nconst lead_id = $('Check Enrolled T4').first().json.lead_id || '';\nconst sig = p.business_name ? '<p style=\"font-size:13px;color:#3A3F48;font-family:Inter,sans-serif;margin-top:16px;margin-bottom:0;\">' + p.business_name + '</p>' : '';\nconst html_body = '<p style=\"font-family:Inter,sans-serif;color:#3A3F48;line-height:1.6;\">' + body.replace(/\\n/g, '<br>') + '</p>' + sig + '<p style=\"font-size:12px;color:#9EA3AA;border-top:1px solid #E5E4DE;padding-top:16px;margin-top:24px;\">To stop receiving these emails, <a href=\"https://norrai.app.n8n.cloud/webhook/nurture-deenroll-confirm?lead_id=' + lead_id + '&amp;token=8F68D963-7060-4033-BD04-7593E4B203CB\" style=\"color:#9EA3AA;\">click here</a>.</p>';\nreturn [{ json: { subject, body, html_body, ...p } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7888,
        144
      ],
      "id": "04770afc-88d7-48c0-bb91-564d49991589",
      "name": "Extract T4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { personalizations: [{ to: [{ email: $json.email }], subject: $json.subject }], from: { email: 'hello@norrai.co', name: $json.agent_name }, content: [{ type: 'text/html', value: $json.html_body }], tracking_settings: { click_tracking: { enable: false } } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        8112,
        144
      ],
      "id": "25c166d7-ddf7-4d65-a0b1-fca26073ccb3",
      "name": "Email T4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "d2B1Q0ceGNVDwjqs",
          "name": "Header Auth account"
        }
      },
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8336,
        144
      ],
      "id": "c53dd2e4-4aed-49eb-84b3-f5071751879f",
      "name": "Wait Day 14",
      "webhookId": "845b6683-5490-45be-91f4-1023f2a41516"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.status, l.id AS lead_id FROM leads l JOIN clients c ON l.client_id = c.id WHERE l.email = '{{ $('Prep Fields').first().json.email }}' AND c.primary_contact_email = '{{ $('Prep Fields').first().json.agent_email }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        8560,
        144
      ],
      "id": "3360540f-f452-4dca-9e11-cf3098dd6d16",
      "name": "Check Enrolled T5",
      "credentials": {
        "postgres": {
          "id": "2DDeKGMIP9Ijbd9R",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "chk-t5-001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "nurturing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        8784,
        144
      ],
      "id": "73d513cb-b4aa-46ae-b12f-90d222a48e22",
      "name": "IF Enrolled T5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-t5",
              "name": "prompt",
              "value": "=You are {{ $('Prep Fields').first().json.agent_name }}, a real estate agent.\n\nLEAD: {{ $('Prep Fields').first().json.lead_name }}\nLEAD CONTEXT:\n{{ $('Prep Fields').first().json.context_block }}\n\nThis is TOUCH 5 of 6 — Day 14. Channel: EMAIL.\nAngle: No pressure at all. Acknowledge that timing is everything in real estate and people's situations change. You're not going anywhere. Offer to answer any questions whenever they're ready — even if it's months from now. Warm and genuinely patient tone. Sign off with your name and phone: {{ $('Prep Fields').first().json.agent_phone }}\n\nWrite a subject line and email body. Format exactly as:\nSUBJECT: [subject here]\nBODY: [email body here]\n\nBody under 100 words.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9008,
        144
      ],
      "id": "61916a86-7915-4d3c-b1a1-7a4cd5a1f16b",
      "name": "Build Prompt T5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 300,\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        9232,
        144
      ],
      "id": "08be19ed-fe80-4af1-9595-713348fb2027",
      "name": "Claude T5",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "anthropicApi": {
          "id": "gXqu8TiqvDY4mUPZ",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text.trim();\nconst subjectMatch = text.split('SUBJECT:')[1];\nconst bodyMatch = text.split('BODY:')[1];\nconst subject = subjectMatch ? subjectMatch.split('BODY:')[0].trim() : 'No rush';\nconst body = bodyMatch ? bodyMatch.trim() : text;\nconst p = $('Prep Fields').first().json;\nconst lead_id = $('Check Enrolled T5').first().json.lead_id || '';\nconst sig = p.business_name ? '<p style=\"font-size:13px;color:#3A3F48;font-family:Inter,sans-serif;margin-top:16px;margin-bottom:0;\">' + p.business_name + '</p>' : '';\nconst html_body = '<p style=\"font-family:Inter,sans-serif;color:#3A3F48;line-height:1.6;\">' + body.replace(/\\n/g, '<br>') + '</p>' + sig + '<p style=\"font-size:12px;color:#9EA3AA;border-top:1px solid #E5E4DE;padding-top:16px;margin-top:24px;\">To stop receiving these emails, <a href=\"https://norrai.app.n8n.cloud/webhook/nurture-deenroll-confirm?lead_id=' + lead_id + '&amp;token=8F68D963-7060-4033-BD04-7593E4B203CB\" style=\"color:#9EA3AA;\">click here</a>.</p>';\nreturn [{ json: { subject, body, html_body, ...p } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9456,
        144
      ],
      "id": "247b6845-bbbd-4d1e-9d24-630e488570c4",
      "name": "Extract T5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { personalizations: [{ to: [{ email: $json.email }], subject: $json.subject }], from: { email: 'hello@norrai.co', name: $json.agent_name }, content: [{ type: 'text/html', value: $json.html_body }], tracking_settings: { click_tracking: { enable: false } } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        9680,
        144
      ],
      "id": "dc11056e-9157-409e-bb3e-d260f5d96ec6",
      "name": "Email T5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "d2B1Q0ceGNVDwjqs",
          "name": "Header Auth account"
        }
      },
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9904,
        144
      ],
      "id": "c9eda9c8-cfd0-468d-8cff-afaab72d5434",
      "name": "Wait Day 21",
      "webhookId": "67f73f42-6113-438b-be0d-3c3c65d64ffb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.status, l.id AS lead_id FROM leads l JOIN clients c ON l.client_id = c.id WHERE l.email = '{{ $('Prep Fields').first().json.email }}' AND c.primary_contact_email = '{{ $('Prep Fields').first().json.agent_email }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        10128,
        144
      ],
      "id": "a46642f8-5586-48d2-9d2f-069afc3f4040",
      "name": "Check Enrolled T6",
      "credentials": {
        "postgres": {
          "id": "2DDeKGMIP9Ijbd9R",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "chk-t6-001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "nurturing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        10352,
        144
      ],
      "id": "934ded24-ef02-4379-8172-60091e8cde5c",
      "name": "IF Enrolled T6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-t6",
              "name": "prompt",
              "value": "=You are {{ $('Prep Fields').first().json.agent_name }}, a real estate agent.\n\nLEAD: {{ $('Prep Fields').first().json.lead_name }}\nLEAD CONTEXT:\n{{ $('Prep Fields').first().json.context_block }}\n\nThis is TOUCH 6 of 6 — Day 21. Channel: EMAIL. This is the last message.\nAngle: Final touch. Low pressure, door wide open. Something like: you won't keep reaching out, but you're here whenever they're ready. Leave a genuinely warm impression. No guilt, no urgency. Sign off with your name: {{ $('Prep Fields').first().json.agent_name }}\n\nWrite a subject line and email body. Format exactly as:\nSUBJECT: [subject here]\nBODY: [email body here]\n\nBody under 60 words.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10576,
        144
      ],
      "id": "a3704746-7018-47e9-b005-ec45f3b7731d",
      "name": "Build Prompt T6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 300,\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        10800,
        144
      ],
      "id": "3923fba5-e9be-4559-930c-82341b202772",
      "name": "Claude T6",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "anthropicApi": {
          "id": "gXqu8TiqvDY4mUPZ",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text.trim();\nconst subjectMatch = text.split('SUBJECT:')[1];\nconst bodyMatch = text.split('BODY:')[1];\nconst subject = subjectMatch ? subjectMatch.split('BODY:')[0].trim() : 'Take care';\nconst body = bodyMatch ? bodyMatch.trim() : text;\nconst p = $('Prep Fields').first().json;\nconst lead_id = $('Check Enrolled T6').first().json.lead_id || '';\nconst sig = p.business_name ? '<p style=\"font-size:13px;color:#3A3F48;font-family:Inter,sans-serif;margin-top:16px;margin-bottom:0;\">' + p.business_name + '</p>' : '';\nconst html_body = '<p style=\"font-family:Inter,sans-serif;color:#3A3F48;line-height:1.6;\">' + body.replace(/\\n/g, '<br>') + '</p>' + sig + '<p style=\"font-size:12px;color:#9EA3AA;border-top:1px solid #E5E4DE;padding-top:16px;margin-top:24px;\">To stop receiving these emails, <a href=\"https://norrai.app.n8n.cloud/webhook/nurture-deenroll-confirm?lead_id=' + lead_id + '&amp;token=8F68D963-7060-4033-BD04-7593E4B203CB\" style=\"color:#9EA3AA;\">click here</a>.</p>';\nreturn [{ json: { subject, body, html_body, ...p } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11024,
        144
      ],
      "id": "9a2c0058-6750-4fc8-9b67-19957e4fe692",
      "name": "Extract T6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { personalizations: [{ to: [{ email: $json.email }], subject: $json.subject }], from: { email: 'hello@norrai.co', name: $json.agent_name }, content: [{ type: 'text/html', value: $json.html_body }], tracking_settings: { click_tracking: { enable: false } } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        11248,
        144
      ],
      "id": "80a6879f-9de9-439c-9b61-d7b263cee2d8",
      "name": "Email T6",
      "credentials": {
        "httpHeaderAuth": {
          "id": "d2B1Q0ceGNVDwjqs",
          "name": "Header Auth account"
        }
      },
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "jsCode": "const body = ($input.first().json.body || {});\nconst token = (body.agent_token || '').trim();\nconst uuidRe = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nconst query = uuidRe.test(token)\n  ? `SELECT id FROM clients WHERE token = '${token}' AND status = 'active' LIMIT 1`\n  : 'SELECT null::uuid AS id WHERE false';\nreturn [{ json: { client_query: query } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        144
      ],
      "id": "5307e298-9a33-481c-a3e9-c81e9e06b88d",
      "name": "Build Token Query",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.client_query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        720,
        144
      ],
      "id": "975977d4-9fd0-49c7-9bc0-c3563efc3e97",
      "name": "Validate Client Token",
      "credentials": {
        "postgres": {
          "id": "2DDeKGMIP9Ijbd9R",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "24f4927d-7db3-4e9e-a376-22e95cd69014",
              "leftValue": "={{ $json.id }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        944,
        144
      ],
      "id": "d33a9134-6f91-4319-8d0b-819e954373d5",
      "name": "Client Valid?"
    }
  ],
  "connections": {
    "Manual Enrollment": {
      "main": [
        [
          {
            "node": "Token Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Check": {
      "main": [
        [
          {
            "node": "Build Token Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Token Query": {
      "main": [
        [
          {
            "node": "Validate Client Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Client Token": {
      "main": [
        [
          {
            "node": "Client Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Valid?": {
      "main": [
        [
          {
            "node": "Prep Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Fields": {
      "main": [
        [
          {
            "node": "Mark Nurture Enrolled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Nurture Enrolled": {
      "main": [
        [
          {
            "node": "Check Email Opt-Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Opt-Out": {
      "main": [
        [
          {
            "node": "Email Opted Out?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Opted Out?": {
      "main": [
        [],
        [
          {
            "node": "Wait Day 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Day 1": {
      "main": [
        [
          {
            "node": "Check Enrolled T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Enrolled T1": {
      "main": [
        [
          {
            "node": "IF Enrolled T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Enrolled T1": {
      "main": [
        [
          {
            "node": "Build Prompt T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt T1": {
      "main": [
        [
          {
            "node": "Claude T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude T1": {
      "main": [
        [
          {
            "node": "Extract T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract T1": {
      "main": [
        [
          {
            "node": "Email T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email T1": {
      "main": [
        [
          {
            "node": "Wait Day 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Day 3": {
      "main": [
        [
          {
            "node": "Check Enrolled T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Enrolled T2": {
      "main": [
        [
          {
            "node": "IF Enrolled T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Enrolled T2": {
      "main": [
        [
          {
            "node": "Build Prompt T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt T2": {
      "main": [
        [
          {
            "node": "Claude T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude T2": {
      "main": [
        [
          {
            "node": "Extract T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract T2": {
      "main": [
        [
          {
            "node": "Email T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email T2": {
      "main": [
        [
          {
            "node": "Wait Day 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Day 7": {
      "main": [
        [
          {
            "node": "Check Enrolled T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Enrolled T3": {
      "main": [
        [
          {
            "node": "IF Enrolled T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Enrolled T3": {
      "main": [
        [
          {
            "node": "Build Prompt T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt T3": {
      "main": [
        [
          {
            "node": "Claude T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude T3": {
      "main": [
        [
          {
            "node": "Extract T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract T3": {
      "main": [
        [
          {
            "node": "Email T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email T3": {
      "main": [
        [
          {
            "node": "Wait Day 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Day 10": {
      "main": [
        [
          {
            "node": "Check Enrolled T4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Enrolled T4": {
      "main": [
        [
          {
            "node": "IF Enrolled T4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Enrolled T4": {
      "main": [
        [
          {
            "node": "Build Prompt T4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt T4": {
      "main": [
        [
          {
            "node": "Claude T4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude T4": {
      "main": [
        [
          {
            "node": "Extract T4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract T4": {
      "main": [
        [
          {
            "node": "Email T4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email T4": {
      "main": [
        [
          {
            "node": "Wait Day 14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Day 14": {
      "main": [
        [
          {
            "node": "Check Enrolled T5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Enrolled T5": {
      "main": [
        [
          {
            "node": "IF Enrolled T5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Enrolled T5": {
      "main": [
        [
          {
            "node": "Build Prompt T5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt T5": {
      "main": [
        [
          {
            "node": "Claude T5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude T5": {
      "main": [
        [
          {
            "node": "Extract T5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract T5": {
      "main": [
        [
          {
            "node": "Email T5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email T5": {
      "main": [
        [
          {
            "node": "Wait Day 21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Day 21": {
      "main": [
        [
          {
            "node": "Check Enrolled T6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Enrolled T6": {
      "main": [
        [
          {
            "node": "IF Enrolled T6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Enrolled T6": {
      "main": [
        [
          {
            "node": "Build Prompt T6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt T6": {
      "main": [
        [
          {
            "node": "Claude T6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude T6": {
      "main": [
        [
          {
            "node": "Extract T6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract T6": {
      "main": [
        [
          {
            "node": "Email T6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Al6gagYmiq1feOWq",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0f05972d-a248-435c-815d-188a15ccd473",
  "activeVersionId": "0f05972d-a248-435c-815d-188a15ccd473",
  "versionCounter": 144,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-05-01T01:39:33.838Z",
      "createdAt": "2026-05-01T01:39:33.838Z",
      "id": "hF4YeAdcnZuVMhqJ",
      "name": "real estate"
    }
  ]
}
