n8n/workflows/Real Estate Open House Setup.json
{
  "name": "Real Estate Open House Setup",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "open-house-setup",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 144],
      "id": "c3d4e5f6-0001-4000-8000-000000000001",
      "name": "Receive Setup",
      "webhookId": "open-house-setup-webhook-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "token-check-setup-001",
              "leftValue": "={{ $json.headers[\"x-norr-token\"] }}",
              "rightValue": "=8F68D963-7060-4033-BD04-7593E4B203CB",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [432, 224],
      "id": "c3d4e5f6-0002-4000-8000-000000000002",
      "name": "Token Check"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nreturn [{\n  json: {\n    agent_name:          body.agent_name          || '',\n    agent_email:         body.agent_email         || '',\n    agent_phone:         body.agent_phone         || '',\n    property_address:    body.property_address    || '',\n    listing_description: body.listing_description || '',\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 144],
      "id": "c3d4e5f6-0003-4000-8000-000000000003",
      "name": "Prep Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-prompt-setup-001",
              "name": "prompt",
              "value": "=You are a real estate assistant. Extract the 3-5 most compelling property highlights from this listing description. These will be used to personalize follow-up messages to open house attendees.\n\nReturn ONLY a short comma-separated list. Each item should be 2-5 words, specific, and factual — only include details explicitly stated in the description. Never invent or assume details.\n\nExample output: vaulted ceilings, updated kitchen, large fenced backyard, 2-car garage, main floor primary\n\nListing description:\n{{ $json.listing_description }}\n\nReturn ONLY the comma-separated list. No labels, no explanation.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [848, 144],
      "id": "c3d4e5f6-0004-4000-8000-000000000004",
      "name": "Build Extraction Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 150,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1056, 144],
      "id": "c3d4e5f6-0005-4000-8000-000000000005",
      "name": "Extract Highlights (Claude)",
      "credentials": {
        "anthropicApi": {
          "id": "gXqu8TiqvDY4mUPZ",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst highlights = (response.content[0].text || '').trim();\n\nconst prev = $('Prep Fields').first().json;\n\nconst baseUrl = 'https://tools.norrai.co/open_house.html';\nconst params = new URLSearchParams({\n  address:     prev.property_address,\n  agent:       prev.agent_name,\n  agent_email: prev.agent_email,\n  agent_phone: prev.agent_phone,\n  notes:       highlights,\n});\nconst signinUrl = baseUrl + '?' + params.toString();\n\nconst qrUrl = 'https://api.qrserver.com/v1/create-qr-code/?size=400x400&margin=2&data=' + encodeURIComponent(signinUrl);\n\nreturn [{\n  json: {\n    highlights,\n    signin_url:      signinUrl,\n    qr_url:          qrUrl,\n    agent_name:      prev.agent_name,\n    agent_email:     prev.agent_email,\n    property_address: prev.property_address,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1264, 144],
      "id": "c3d4e5f6-0006-4000-8000-000000000006",
      "name": "Build QR URL"
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "studio@norrai.co",
        "fromName": "Norr AI",
        "toEmail": "={{ $json.agent_email }}",
        "subject": "=Your open house QR code — {{ $json.property_address }}",
        "contentType": "html",
        "contentValue": "=<div style=\"font-family: 'Inter', Arial, sans-serif; max-width: 520px; margin: 0 auto; color: #0A0F1A;\">\n\n  <div style=\"background: #0A0F1A; padding: 32px 32px 28px; border-radius: 8px 8px 0 0;\">\n    <p style=\"font-size: 11px; letter-spacing: 0.15em; text-transform: uppercase; color: #7FA9B8; margin: 0 0 10px;\">Open House Setup</p>\n    <h1 style=\"font-size: 22px; font-weight: 700; color: #FAFAF7; margin: 0; letter-spacing: -0.02em;\">Your QR code is ready.</h1>\n  </div>\n\n  <div style=\"background: #FFFFFF; padding: 32px; border: 1px solid #E5E4DE; border-top: none; border-radius: 0 0 8px 8px;\">\n\n    <p style=\"font-size: 14px; color: #3A3F48; margin: 0 0 6px;\">Property</p>\n    <p style=\"font-size: 16px; font-weight: 600; color: #0A0F1A; margin: 0 0 24px;\">{{ $json.property_address }}</p>\n\n    <p style=\"font-size: 14px; color: #6A6F78; margin: 0 0 16px;\">Print this and tape it to the front door. Attendees scan it to sign in — you'll get a personalized follow-up sent to each of them at 9am the next morning.</p>\n\n    <div style=\"text-align: center; margin: 28px 0;\">\n      <img src=\"{{ $json.qr_url }}\" width=\"300\" height=\"300\" alt=\"Open House Sign-In QR Code\" style=\"display: inline-block; border: 1px solid #E5E4DE; border-radius: 8px; padding: 12px; background: #fff;\">\n    </div>\n\n    <p style=\"font-size: 12px; color: #9EA3AA; margin: 0 0 6px;\">Property highlights Claude will reference in follow-ups:</p>\n    <p style=\"font-size: 13px; color: #3A3F48; font-style: italic; margin: 0 0 24px; padding: 12px 14px; background: #FAFAF7; border-radius: 6px; border: 1px solid #E5E4DE;\">{{ $json.highlights }}</p>\n\n    <p style=\"font-size: 12px; color: #9EA3AA; margin: 0 0 6px;\">Direct link (if you need to share digitally):</p>\n    <p style=\"font-size: 12px; margin: 0 0 28px; word-break: break-all;\"><a href=\"{{ $json.signin_url }}\" style=\"color: #7FA9B8;\">{{ $json.signin_url }}</a></p>\n\n    <hr style=\"border: none; border-top: 1px solid #E5E4DE; margin: 0 0 20px;\">\n    <p style=\"font-size: 12px; color: #9EA3AA; margin: 0;\">Norr AI &nbsp;·&nbsp; <a href=\"https://norrai.co\" style=\"color: #9EA3AA;\">norrai.co</a></p>\n\n  </div>\n</div>",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [1472, 144],
      "id": "c3d4e5f6-0007-4000-8000-000000000007",
      "name": "Email QR to Agent",
      "credentials": {
        "sendGridApi": {
          "id": "A5ypmjiRLAUMUm9O",
          "name": "SendGrid account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Setup": {
      "main": [
        [
          {
            "node": "Token Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Check": {
      "main": [
        [
          {
            "node": "Prep Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Fields": {
      "main": [
        [
          {
            "node": "Build Extraction Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Extraction Prompt": {
      "main": [
        [
          {
            "node": "Extract Highlights (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Highlights (Claude)": {
      "main": [
        [
          {
            "node": "Build QR URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build QR URL": {
      "main": [
        [
          {
            "node": "Email QR to Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "open-house-setup-v1-001",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "0d4efb408d47ca7fe5f9bfa9b6b5b1a6e6f8fcb31cb2584a172b735d47653914"
  },
  "id": "",
  "tags": []
}
