n8n/workflows/Real Estate Listing Description Generator.json
{
  "updatedAt": "2026-05-27T19:43:45.976Z",
  "createdAt": "2026-04-19T02:07:18.687Z",
  "id": "nkkl9KmX7zMGuhvE",
  "name": "Real Estate Listing Description Generator",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "listing-description", "options": {}},
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [608, -256],
      "id": "00f8975c-a35f-4eda-9791-004aad3e2e47",
      "name": "Get Listing Details",
      "webhookId": "51a77105-7762-4f29-8a87-cb981ea85e6e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3},
          "conditions": [{"id": "09c9c0dc-11bd-431f-93fe-eda5e92be7a6", "leftValue": "={{ $json.headers[\"x-norr-token\"] }}", "rightValue": "=8F68D963-7060-4033-BD04-7593E4B203CB", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [832, -256],
      "id": "8a9d002d-ad0f-4b79-b9e2-2119a08d0d0b",
      "name": "Token Check"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "7d612203-db2a-48cc-babc-17e177cf58ad", "name": "prompt", "value": "=You are a real estate copywriter who writes in the style of a specific agent. Study these example listings carefully and match their voice, tone, and style exactly.\n\nEXAMPLE LISTINGS FROM THIS AGENT:\n{{ $node[\"Get Listing Details\"].json.body.previous_listings }}\n\nNow generate a headline and two professional property descriptions in exactly the same style for this listing:\n\nAddress: {{ $node[\"Get Listing Details\"].json.body.property_address }}\nBedrooms: {{ $node[\"Get Listing Details\"].json.body.beds }}\nBathrooms: {{ $node[\"Get Listing Details\"].json.body.baths }}\nSquare Feet: {{ $node[\"Get Listing Details\"].json.body.sqft }}\nYear Built: {{ $node[\"Get Listing Details\"].json.body.year_built }}\nBasement: {{ $node[\"Get Listing Details\"].json.body.basement }}\nGarage: {{ $node[\"Get Listing Details\"].json.body.garage }}\nPrice: {{ $node[\"Get Listing Details\"].json.body.price }}\nKey Features: {{ $node[\"Get Listing Details\"].json.body.key_features }}\nNeighborhood Notes: {{ $node[\"Get Listing Details\"].json.body.neighborhood_notes }}\nTone: {{ $node[\"Get Listing Details\"].json.body.tone }}\nTarget Buyer: {{ $node[\"Get Listing Details\"].json.body.target_buyer }}\n\nPlease provide:\n1. HEADLINE: A punchy property headline under 10 words\n2. MLS_DESCRIPTION: A detailed professional MLS listing description (150-200 words)\n3. SOCIAL_MEDIA_POST: An engaging social media post (50-75 words) with emojis\n\nFormat your response exactly as:\nHEADLINE: [your headline here]\n\nMLS_DESCRIPTION: [your MLS description here]\n\nSOCIAL_MEDIA_POST: [your social media post here]", "type": "string"},
            {"id": "73f13592-0617-498f-ac61-1fe319106875", "name": "agent_name", "value": "={{ $node[\"Get Listing Details\"].json.body.agent_name }}", "type": "string"},
            {"id": "ece63fc6-53cc-4569-ae43-f4910dd0bd98", "name": "agent_email", "value": "={{ $node[\"Get Listing Details\"].json.body.agent_email }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1280, -256],
      "id": "50d02867-2b97-4e59-aeb8-90e1fd81df54",
      "name": "Parse HTML"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 1000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1504, -256],
      "id": "c605c7d6-b401-47aa-8309-4d74d43cae0c",
      "name": "Generate Listing (Claude)",
      "credentials": {"anthropicApi": {"id": "gXqu8TiqvDY4mUPZ", "name": "Anthropic account 2"}}
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.content[0].text;\n\nconst headlineMatch = text.split('HEADLINE:')[1];\nconst mlsMatch = text.split('MLS_DESCRIPTION:')[1];\nconst socialMatch = text.split('SOCIAL_MEDIA_POST:')[1];\n\nconst headline = headlineMatch ? headlineMatch.split('MLS_DESCRIPTION:')[0].trim() : '';\nconst mls_description = mlsMatch ? mlsMatch.split('SOCIAL_MEDIA_POST:')[0].trim() : '';\nconst social_caption = socialMatch ? socialMatch.trim() : '';\n\nreturn [{ json: { headline, mls_description, social_caption } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1728, -256],
      "id": "55550dfb-eb20-4764-9bb4-7b3c52416a64",
      "name": "Parse Desc"
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "studio@norrai.co",
        "fromName": "Norr AI",
        "toEmail": "={{ $node[\"Parse HTML\"].json.agent_email }}",
        "subject": "=New listing copy ready — {{ $json.headline }}",
        "contentValue": "=Hi, {{ $node[\"Parse HTML\"].json.agent_name }}, below are the headline/descriptions for your latest listing.\n\nHEADLINE: {{ $json.headline }}  \n\nMLS DESCRIPTION: {{ $json.mls_description }}  \n\nSOCIAL MEDIA POST: {{ $json.social_caption }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [1952, -256],
      "id": "80040969-0d0b-4b1a-9f6a-48dcb4a86f49",
      "name": "Send email",
      "credentials": {"sendGridApi": {"id": "A5ypmjiRLAUMUm9O", "name": "SendGrid account"}}
    },
    {
      "id": "b3ceaaf3-3f88-4c14-bb82-162efd4d121f",
      "name": "Lookup Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1056, -80],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM clients WHERE primary_contact_email = '{{ $json.body.agent_email }}' LIMIT 1",
        "options": {}
      },
      "credentials": {"postgres": {"id": "2DDeKGMIP9Ijbd9R", "name": "Postgres account"}},
      "continueOnFail": true
    },
    {
      "id": "f614669c-b2da-409a-8c2e-3bd3157fd0fb",
      "name": "Log Triggered",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1280, -80],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_events (client_id, workflow_name, event_type, payload)\nVALUES (\n  '{{ $json.id || \"e2f9934c-4d28-4bb4-ac90-4284c1123517\" }}',\n  'listing_description',\n  'triggered',\n  json_build_object('execution_id', '{{ $execution.id }}')::jsonb\n)",
        "options": {}
      },
      "credentials": {"postgres": {"id": "2DDeKGMIP9Ijbd9R", "name": "Postgres account"}},
      "continueOnFail": true
    },
    {
      "id": "61108c09-9938-4a86-9f2a-270ff3757030",
      "name": "Log Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2144, -256],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_events (client_id, workflow_name, event_type, payload)\nVALUES (\n  COALESCE(NULLIF(NULLIF('{{ $('Lookup Client').first().json.id }}', ''), 'null'), 'e2f9934c-4d28-4bb4-ac90-4284c1123517')::uuid,\n  'listing_description',\n  'completed',\n  json_build_object('execution_id', '{{ $execution.id }}')::jsonb\n)",
        "options": {}
      },
      "credentials": {"postgres": {"id": "2DDeKGMIP9Ijbd9R", "name": "Postgres account"}},
      "continueOnFail": true
    }
  ],
  "connections": {
    "Get Listing Details": {"main": [[{"node": "Token Check", "type": "main", "index": 0}]]},
    "Token Check": {"main": [[{"node": "Parse HTML", "type": "main", "index": 0}, {"node": "Lookup Client", "type": "main", "index": 0}], []]},
    "Parse HTML": {"main": [[{"node": "Generate Listing (Claude)", "type": "main", "index": 0}]]},
    "Generate Listing (Claude)": {"main": [[{"node": "Parse Desc", "type": "main", "index": 0}]]},
    "Parse Desc": {"main": [[{"node": "Send email", "type": "main", "index": 0}]]},
    "Lookup Client": {"main": [[{"node": "Log Triggered", "type": "main", "index": 0}]]},
    "Send email": {"main": [[{"node": "Log Completed", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "binaryMode": "separate", "timeSavedMode": "fixed", "errorWorkflow": "Al6gagYmiq1feOWq", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false},
  "staticData": null,
  "meta": {"templateCredsSetupCompleted": true},
  "pinData": {},
  "versionId": "fd7b0e96-4085-4461-a61a-38097d2fadca",
  "activeVersionId": "fd7b0e96-4085-4461-a61a-38097d2fadca",
  "versionCounter": 412,
  "triggerCount": 1,
  "tags": [{"id": "hF4YeAdcnZuVMhqJ", "name": "real estate"}]
}
