n8n/workflows/Real Estate Open House Follow-Up.json
{
  "name": "Real Estate Open House Follow-Up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "open-house-signin",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        144
      ],
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Receive Sign-In",
      "webhookId": "open-house-signin-webhook-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "token-check-oh-001",
              "leftValue": "={{ $json.headers[\"x-norr-token\"] }}",
              "rightValue": "=8F68D963-7060-4033-BD04-7593E4B203CB",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        224
      ],
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Token Check"
    },
    {
      "parameters": {
        "jsCode": "// Compute resume time: tomorrow at 9am CT (UTC-5 CST / UTC-6 CDT)\n// Using UTC-6 (CDT) — close enough; adjust to UTC-5 in winter if needed\nconst now = new Date();\nconst tomorrow = new Date(now);\ntomorrow.setDate(tomorrow.getDate() + 1);\ntomorrow.setUTCHours(15, 0, 0, 0); // 9am CT (CDT = UTC-6 → 15:00 UTC)\n\n// If it's already past 9am CT today when someone signs in late,\n// this still sends the next morning, which is correct.\n\nconst body = $input.first().json.body;\n\nreturn [{\n  json: {\n    resume_at:        tomorrow.toISOString(),\n    attendee_name:    body.attendee_name    || '',\n    phone:            body.phone            || '',\n    email:            body.email            || '',\n    brought_you_in:   body.brought_you_in   || '',\n    property_address: body.property_address || '',\n    property_notes:   body.property_notes   || '',\n    agent_name:       body.agent_name       || '',\n    agent_email:      body.agent_email      || '',\n    agent_phone:      body.agent_phone      || '',\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        144
      ],
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "Prep Wait Time"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "resumeAt": "={{ $json.resume_at }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        848,
        144
      ],
      "id": "b2c3d4e5-0004-4000-8000-000000000004",
      "name": "Wait Until 9am CT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-prompt-oh-001",
              "name": "prompt",
              "value": "=You are {{ $json.agent_name }}, a real estate agent. Someone visited your open house yesterday and you're following up the next morning.\n\nATTENDEE:\nName: {{ $json.attendee_name }}\nProperty they visited: {{ $json.property_address }}\nWhat brought them in: {{ $json.brought_you_in || 'They did not leave a note.' }}\n\nPROPERTY HIGHLIGHTS:\n{{ $json.property_notes || 'Not provided.' }}\n\nWrite a short, warm follow-up message from {{ $json.agent_name }} to {{ $json.attendee_name }}. Requirements:\n- Address them by first name\n- Thank them for stopping by\n- If property highlights are provided, you may naturally reference one or two — only use what's listed, never invent details\n- If they left a note about what brought them in, acknowledge it naturally — don't repeat it back word for word, just let it inform the tone\n- Ask if they have any questions or would like to see it again\n- Sign off with your name and phone: {{ $json.agent_phone }}\n- Keep it under 120 words — this is going via email\n- Use line breaks between the greeting, body, and sign-off — do not write it as one block of text\n- Warm and personal, not templated\n- IMPORTANT: If the attendee asks a specific question (HOA fees, roof age, basement, inspection, lot size, etc.) that is not covered in the property highlights above, do NOT guess or invent an answer. Acknowledge the question briefly and tell them you will check on it and get back to them.\n\nReturn ONLY the message text. No labels, no subject line, no formatting markers.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        144
      ],
      "id": "b2c3d4e5-0005-4000-8000-000000000005",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 250,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        144
      ],
      "id": "b2c3d4e5-0006-4000-8000-000000000006",
      "name": "Draft Follow-Up (Claude)",
      "credentials": {
        "anthropicApi": {
          "id": "gXqu8TiqvDY4mUPZ",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst message = response.content[0].text.trim();\n\n// Pull through all fields from the wait node output\nconst prev = $('Wait Until 9am CT').first().json;\n\nconst message_html = '<div style=\"font-family: Arial, sans-serif; font-size: 15px; line-height: 1.6; color: #222;\">' +\n  message.replace(/\\n/g, '<br>') +\n  '</div>';\n\nreturn [{\n  json: {\n    message,\n    message_html,\n    attendee_name:    prev.attendee_name,\n    phone:            prev.phone,\n    email:            prev.email,\n    property_address: prev.property_address,\n    property_notes:   prev.property_notes,\n    agent_name:       prev.agent_name,\n    agent_email:      prev.agent_email,\n    agent_phone:      prev.agent_phone,\n    has_email:        (prev.email || '').trim().length > 0,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        144
      ],
      "id": "b2c3d4e5-0007-4000-8000-000000000007",
      "name": "Extract Message"
    },
    {
      "parameters": {
        "from": "+18XXXXXXXXXX",
        "to": "=+1{{ $json.phone.replace(/\\D/g, '') }}",
        "message": "={{ $json.message }}"
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1680,
        60
      ],
      "id": "b2c3d4e5-0008-4000-8000-000000000008",
      "name": "SMS to Attendee",
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIAL_ID",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-email-check-001",
              "leftValue": "={{ $json.has_email }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1680,
        228
      ],
      "id": "b2c3d4e5-0009-4000-8000-000000000009",
      "name": "Has Email?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "genericCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"personalizations\": [{\"to\": [{\"email\": \"{{ $json.email }}\"}]}],\n  \"from\": {\"email\": \"hello@norrai.co\", \"name\": \"{{ $json.agent_name }}\"},\n  \"reply_to\": {\"email\": \"{{ $json.agent_email }}\"},\n  \"subject\": \"Thanks for stopping by {{ $json.property_address }}\",\n  \"content\": [{\"type\": \"text/html\", \"value\": {{ JSON.stringify($json.message_html) }}}]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1888,
        228
      ],
      "id": "b2c3d4e5-0010-4000-8000-000000000010",
      "name": "Email to Attendee",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SENDGRID_HEADER_AUTH",
          "name": "SendGrid Header Auth"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Sign-In": {
      "main": [
        [
          {
            "node": "Token Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Check": {
      "main": [
        [
          {
            "node": "Prep Wait Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Wait Time": {
      "main": [
        [
          {
            "node": "Wait Until 9am CT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Until 9am CT": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Draft Follow-Up (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Follow-Up (Claude)": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "SMS to Attendee",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Email to Attendee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "open-house-followup-v1-001",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "0d4efb408d47ca7fe5f9bfa9b6b5b1a6e6f8fcb31cb2584a172b735d47653914"
  },
  "id": "",
  "tags": []
}
