n8n/workflows/Real Estate Facebook Intake.json
{
  "updatedAt": "2026-05-13T18:17:01.188Z",
  "createdAt": "2026-05-13T18:17:01.188Z",
  "id": "8XrQHoiiO1TeCfxE",
  "name": "Real Estate Facebook Intake",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {"httpMethod": "ALL", "path": "intake-facebook", "responseMode": "responseNode", "options": {}},
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-400, 80],
      "id": "5e99a5ec-cf56-4a00-9ee0-b77d27bb3705",
      "name": "Receive Facebook Event",
      "webhookId": "facebook-intake-webhook-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3},
          "conditions": [{"id": "hub-mode-001", "leftValue": "={{ $json.query['hub.mode'] }}", "rightValue": "subscribe", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-208, 80],
      "id": "d61bbc09-d73e-48b5-bfe1-c12c40c17e70",
      "name": "Is Verification Request?"
    },
    {
      "parameters": {"respondWith": "text", "responseBody": "={{ $('Receive Facebook Event').first().json.query['hub.challenge'] }}", "options": {"responseCode": 200}},
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "c86fa07e-688a-4446-a6ec-42195a9c6564",
      "name": "Echo Hub Challenge"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst q = $input.first().json.query || {};\n\nlet leadgenId = null;\ntry {\n  leadgenId = body.entry[0].changes[0].value.leadgen_id;\n} catch(e) {}\n\nreturn [{\n  json: {\n    leadgen_id: leadgenId,\n    client_token: q.token || '',\n    page_access_token: 'FACEBOOK_PAGE_ACCESS_TOKEN'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 160],
      "id": "d57db19e-b5f5-4d29-bb44-978292f98e3c",
      "name": "Extract Leadgen ID"
    },
    {
      "parameters": {"url": "=https://graph.facebook.com/v19.0/{{ $json.leadgen_id }}?access_token={{ $json.page_access_token }}&fields=field_data,created_time", "options": {}},
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [208, 160],
      "id": "a7f761c7-d5d8-420e-b0a3-13c284aa9d54",
      "name": "Fetch Lead from Graph API"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst ctx = $('Extract Leadgen ID').first().json;\n\nconst fields = {};\n(lead.field_data || []).forEach(f => {\n  fields[f.name] = f.values[0] || '';\n});\n\nreturn [{\n  json: {\n    client_token: ctx.client_token,\n    lead_name: fields.full_name || `${fields.first_name || ''} ${fields.last_name || ''}`.trim(),\n    email: fields.email || '',\n    phone: fields.phone_number || fields.phone || '',\n    source: 'facebook_ads',\n    property_address: fields.street_address || fields.property_address || '',\n    price_range: fields.price_range || '',\n    beds: fields.bedrooms || null,\n    lead_message: fields.message || fields.comments || 'Facebook Lead Ad inquiry'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 160],
      "id": "84d31b8a-720e-42d1-ba83-9b0faa2b5f99",
      "name": "Normalize Facebook Payload"
    },
    {
      "parameters": {"method": "POST", "url": "https://norrai.app.n8n.cloud/webhook/lead-cleanser", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json) }}", "options": {}},
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [608, 160],
      "id": "56c7d374-a951-4855-a001-54eaf3bb0608",
      "name": "Send to Lead Cleanser"
    }
  ],
  "connections": {
    "Receive Facebook Event": {"main": [[{"node": "Is Verification Request?", "type": "main", "index": 0}]]},
    "Is Verification Request?": {"main": [[{"node": "Echo Hub Challenge", "type": "main", "index": 0}], [{"node": "Extract Leadgen ID", "type": "main", "index": 0}]]},
    "Extract Leadgen ID": {"main": [[{"node": "Fetch Lead from Graph API", "type": "main", "index": 0}]]},
    "Fetch Lead from Graph API": {"main": [[{"node": "Normalize Facebook Payload", "type": "main", "index": 0}]]},
    "Normalize Facebook Payload": {"main": [[{"node": "Send to Lead Cleanser", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "binaryMode": "separate"},
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "01374885-142a-4c47-850e-6620e72842fb",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": []
}