n8n/workflows/Real Estate Open House Setup.json
{
  "updatedAt": "2026-06-06T03:09:37.533Z",
  "createdAt": "2026-04-30T02:05:16.905Z",
  "id": "7qRcLtblC23cygMD",
  "name": "Real Estate Open House Setup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "open-house-setup", "options": {}},
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "bda7a653-667e-48b4-8367-3dede1da2c03",
      "name": "Receive Setup",
      "webhookId": "open-house-setup-webhook-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3},
          "conditions": [{"id": "token-check-setup-001", "leftValue": "={{ $json.headers[\"x-norr-token\"] }}", "rightValue": "=8F68D963-7060-4033-BD04-7593E4B203CB", "operator": {"type": "string", "operation": "startsWith"}}],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [192, 80],
      "id": "4efc9494-857b-40c2-884c-8cc247cc2313",
      "name": "Token Check"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Receive Setup').first().json.body;\n\nreturn [{\n  json: {\n    agent_name:          body.agent_name          || '',\n    agent_email:         body.agent_email         || '',\n    agent_phone:         body.agent_phone         || '',\n    property_address:    body.property_address    || '',\n    listing_description: (body.listing_description || '').replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n'),\n    listing_url:         body.listing_url         || '',\n    source_form:         body.source_form         || '',\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0],
      "id": "87e4db04-dd63-4921-82f2-9ab529d05e05",
      "name": "Prep Fields"
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst prompt =\n  'You are a real estate assistant. Extract the 3-5 most compelling property highlights from this listing description. These will be used to personalize follow-up messages to open house attendees.\\n\\n' +\n  'Return ONLY a short comma-separated list. Each item should be 2-5 words, specific, and factual — only include details explicitly stated in the description. Never invent or assume details.\\n\\n' +\n  'Example output: vaulted ceilings, updated kitchen, large fenced backyard, 2-car garage, main floor primary\\n\\n' +\n  'Listing description:\\n' + prev.listing_description + '\\n\\n' +\n  'Return ONLY the comma-separated list. No labels, no explanation.';\nreturn [{ json: { ...prev, prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [608, 0],
      "id": "3045f7bf-1993-480f-9ad8-b10926ddd8df",
      "name": "Build Extraction Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 150,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [816, 0],
      "id": "0b3cd4b3-bc87-4222-a63c-b722983cca07",
      "name": "Extract Highlights (Claude)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {"anthropicApi": {"id": "gXqu8TiqvDY4mUPZ", "name": "Anthropic account 2"}}
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst highlights = (response.content[0].text || '').trim();\n\nconst prev = $('Prep Fields').first().json;\nconst isWeichert = prev.source_form === 'weichert_open_house_setup';\nconst businessName = ($('Validate Client Token').first().json.business_name || '').trim();\n\nconst baseUrl = 'https://tools.norrai.co/open_house.html';\nconst qsParts = [\n  'address='     + encodeURIComponent(prev.property_address),\n  'agent='       + encodeURIComponent(prev.agent_name),\n  'agent_email=' + encodeURIComponent(prev.agent_email),\n  'agent_phone=' + encodeURIComponent(prev.agent_phone),\n  'notes='       + encodeURIComponent(highlights),\n];\nif (businessName) qsParts.push('agent_company=' + encodeURIComponent(businessName));\nif (isWeichert) {\n  qsParts.push('wf=weichert');\n  if (prev.listing_url) qsParts.push('listing_url=' + encodeURIComponent(prev.listing_url));\n}\nconst qs = qsParts.join('&');\nconst signinUrl = baseUrl + '?' + qs;\nconst qrUrl = 'https://api.qrserver.com/v1/create-qr-code/?size=400x400&margin=2&data=' + encodeURIComponent(signinUrl);\n\nconst qrUrlSafe     = qrUrl.replace(/&/g, '&amp;');\nconst signinUrlSafe = signinUrl.replace(/&/g, '&amp;');\n\nconst emailHtml = [\n  '<div style=\"font-family: \\'Inter\\', Arial, sans-serif; max-width: 520px; margin: 0 auto; color: #0A0F1A;\">',\n  '  <div style=\"background: #0A0F1A; padding: 32px 32px 28px; border-radius: 8px 8px 0 0;\">',\n  '    <p style=\"font-size: 11px; letter-spacing: 0.15em; text-transform: uppercase; color: #7FA9B8; margin: 0 0 10px;\">Open House Setup</p>',\n  '    <h1 style=\"font-size: 22px; font-weight: 700; color: #FAFAF7; margin: 0; letter-spacing: -0.02em;\">Your QR code is ready.</h1>',\n  '  </div>',\n  '  <div style=\"background: #FFFFFF; padding: 32px; border: 1px solid #E5E4DE; border-top: none; border-radius: 0 0 8px 8px;\">',\n  '    <p style=\"font-size: 14px; color: #3A3F48; margin: 0 0 6px;\">Property</p>',\n  '    <p style=\"font-size: 16px; font-weight: 600; color: #0A0F1A; margin: 0 0 24px;\">' + prev.property_address + '</p>',\n  '    <p style=\"font-size: 14px; color: #6A6F78; margin: 0 0 16px;\">Print this and tape it to the front door. Attendees scan it to sign in — you\\'ll get a personalized follow-up sent to each of them at 9am the next morning.</p>',\n  '    <div style=\"text-align: center; margin: 28px 0;\">',\n  '      <img src=\"' + qrUrlSafe + '\" width=\"300\" height=\"300\" alt=\"Open House Sign-In QR Code\" style=\"display: inline-block; border: 1px solid #E5E4DE; border-radius: 8px; padding: 12px; background: #fff;\">',\n  '    </div>',\n  '    <p style=\"font-size: 12px; color: #9EA3AA; margin: 0 0 6px;\">Property highlights Claude will reference in follow-ups:</p>',\n  '    <p style=\"font-size: 13px; color: #3A3F48; font-style: italic; margin: 0 0 24px; padding: 12px 14px; background: #FAFAF7; border-radius: 6px; border: 1px solid #E5E4DE;\">' + highlights + '</p>',\n  '    <p style=\"font-size: 12px; color: #9EA3AA; margin: 0 0 6px;\">Direct link (if you need to share digitally):</p>',\n  '    <p style=\"font-size: 12px; margin: 0 0 28px; word-break: break-all;\"><a href=\"' + signinUrlSafe + '\" style=\"color: #7FA9B8;\">' + signinUrl + '</a></p>',\n  '    <hr style=\"border: none; border-top: 1px solid #E5E4DE; margin: 0 0 20px;\">',\n  '    <p style=\"font-size: 12px; color: #9EA3AA; margin: 0;\">Norr AI &nbsp;·&nbsp; <a href=\"https://norrai.co\" style=\"color: #9EA3AA;\">norrai.co</a></p>',\n  '  </div>',\n  '</div>',\n].join('\\n');\n\nreturn [{\n  json: {\n    highlights,\n    signin_url:       signinUrl,\n    qr_url:           qrUrl,\n    agent_name:       prev.agent_name,\n    agent_email:      prev.agent_email,\n    property_address: prev.property_address,\n    listing_url:      prev.listing_url,\n    email_html:       emailHtml,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1024, 0],
      "id": "80e1efe5-5cbc-4973-808a-5ce241e67cb2",
      "name": "Build QR URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"personalizations\": [{\"to\": [{\"email\": \"{{ $json.agent_email }}\"}]}],\n  \"from\": {\"email\": \"studio@norrai.co\", \"name\": \"Norr AI\"},\n  \"subject\": \"Your open house QR code — {{ $json.property_address }}\",\n  \"content\": [{\"type\": \"text/html\", \"value\": {{ JSON.stringify($json.email_html) }}}]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1232, 0],
      "id": "e9b9041f-ee7f-4d97-bfbc-9d68d74d46bb",
      "name": "Email QR to Agent",
      "credentials": {"httpHeaderAuth": {"id": "d2B1Q0ceGNVDwjqs", "name": "Header Auth account"}}
    },
    {
      "parameters": {
        "jsCode": "const body = ($input.first().json.body || {});\nconst token = (body.agent_token || '').trim();\nconst uuidRe = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nconst query = uuidRe.test(token)\n  ? `SELECT id, business_name FROM clients WHERE token = '${token}' AND status = 'active' LIMIT 1`\n  : `SELECT null::uuid AS id, null::text AS business_name WHERE false`;\nreturn [{ json: { client_query: query } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 352],
      "id": "btq-d4d6d77966f54dcb",
      "name": "Build Token Query",
      "continueOnFail": true
    },
    {
      "parameters": {"operation": "executeQuery", "query": "{{ $json.client_query }}", "options": {}},
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [624, 352],
      "id": "vct-4944f0ce817346c4",
      "name": "Validate Client Token",
      "credentials": {"postgres": {"id": "2DDeKGMIP9Ijbd9R", "name": "Postgres account"}},
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3},
          "conditions": [{"id": "8d25f37a-6180-4b65-971e-139acd8b774a", "leftValue": "={{ $json.id }}", "operator": {"type": "string", "operation": "notEmpty", "singleValue": true}}],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [832, 352],
      "id": "cv-250fbe0dcfaa49df",
      "name": "Client Valid?"
    }
  ],
  "connections": {
    "Receive Setup": {"main": [[{"node": "Token Check", "type": "main", "index": 0}]]},
    "Token Check": {"main": [[{"node": "Build Token Query", "type": "main", "index": 0}]]},
    "Prep Fields": {"main": [[{"node": "Build Extraction Prompt", "type": "main", "index": 0}]]},
    "Build Extraction Prompt": {"main": [[{"node": "Extract Highlights (Claude)", "type": "main", "index": 0}]]},
    "Extract Highlights (Claude)": {"main": [[{"node": "Build QR URL", "type": "main", "index": 0}]]},
    "Build QR URL": {"main": [[{"node": "Email QR to Agent", "type": "main", "index": 0}]]},
    "Build Token Query": {"main": [[{"node": "Validate Client Token", "type": "main", "index": 0}]]},
    "Validate Client Token": {"main": [[{"node": "Client Valid?", "type": "main", "index": 0}]]},
    "Client Valid?": {"main": [[{"node": "Prep Fields", "type": "main", "index": 0}], []]}
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Al6gagYmiq1feOWq",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "d0e6ac3e-70d7-45b1-a356-68df6446d21e",
  "activeVersionId": "d0e6ac3e-70d7-45b1-a356-68df6446d21e",
  "versionCounter": 48,
  "triggerCount": 1,
  "tags": [{"id": "hF4YeAdcnZuVMhqJ", "name": "real estate"}]
}